@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

p {
	margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #313131;
}


.navbar {
	margin-left: 300px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #313131;
}

.navbar-logo {
	font-size: 1.5em;
}

.navbar-links {
	display: flex;
}

.navbar-links a {
	text-decoration: none;
	margin-left: 75px;
	color: #E9E9E9;
}

.navbar-links a.active {
	color: #00A550;
}


.navbar-icons button {
	background-color: inherit;
	margin-left: 15px;
}



.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	z-index: 1;
	background-color: #282828;
}

.sidebar__logo {
	padding: 10px;
	background-color: #313131;
	margin: 0px 10px;
	border-radius: 12px;
}


.sidebar a {
	padding: 10px;
	text-decoration: none;
	display: block;
}


.sidebar__links {
	padding: 0px;
}

.sidebar__link {
	padding: 5px 15px;
	width: 100%;
	margin: 0px 20px;
}

.sidebar__link div {
	display: flex;
	align-items: center;
}



.sidebar__link a {
	margin-left: 20px;
	color: #E9E9E9;
}

.sidebar__link-active {
	border-radius: 8px 0px 0px 8px;
}

.sidebar__link.sidebar__link-active {
	background-color: #313131;
}

.sidebar__link.sidebar__link-active a {
	font-weight: 500;
}

.sidebar__link a {
	vertical-align: middle;
}

.news-count {
	position: absolute;
	top: 20%;
	right: 60%;
	padding: 1px 3px;
	border-radius: 16px;
	font-size: 12px;
	background-color: #00A550;
	color: #E9E9E9;
}


.content {
	margin-left: 300px;
	padding: 15px;
	flex: 1 1 auto;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-color: #00A550;
	color: #E9E9E9;
}

.footer__content {
	background-color: #282828;
}

.footer__content-title {
	font-size: 20px;
	color: #E9E9E9;
}


.marquee {
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	left: 50px;
	width: 100%;
	height: 60%;
	margin-left: 10px;
}

#marqueeText {
	display: inline-block;
	animation: marquee 15s linear infinite;
	color: #E9E9E9;
}

@keyframes marquee {
	0% {
		transform: translate(100%, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

h1.title {
	font-size: 32px;
	font-weight: 600;
	color: #E9E9E9;
}



.store-item__data-count {
	border-radius: 12px;
	padding: 5px 5px;
	max-width: 100px;
	min-width: 100px;
	font-size: 16px;
	border: 1px solid #00A550;
}

.store-item__data-count span {
	font-weight: 600;
	padding: 5px;
	font-size: 20px;

}

.store-item__data-count span {
	color: #00A550;
}


.store-item__data-count input {
	width: 100%;
	text-align: center;
	background-color: inherit;
	font-size: 20px;
	font-weight: 600;
}

.store-item__data-count input {
	color: #E9E9E9;
}

.form-group {
	position: relative;
}

label {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
	pointer-events: none;
	display: none;
}

.input-field {
	padding: 10px;
	border-radius: 8px;
	margin: 8px 0px;
	width: 100%;
	background-color: #313131;
	color: #F8F8F8;
}

.input-field:focus+label {
	display: block;
	top: -5px;
	left: 5px;
	font-size: 12px;
	color: #E9E9E9;
}


.input-field:focus {
	border: 1px solid #00A550;
}

select.input-field {
	/*for WebKit*/
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
}

select.input-field {
	background-image: url('/static/img/select-arrow.svg');
	background-position: right 10px center;
	background-repeat: no-repeat;
}

.select_logo {
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	bottom: 10px;
	left: 20%;
	color: #00A550;
}

.upload_files {
	padding: 20px;
	margin-bottom: 200px;
	border-radius: 16px;
	border: 1px solid #00A550;
}

.upload_files-text {
	font-weight: 500;
	line-height: 24px;
	color: #00A550;
}


select::-ms-expand {
	display: none;
}

.input-field:focus::placeholder {
	color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.errorlist {
	color: red;
	margin-bottom: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 0 8px;
}

table thead {
	background: #282828;
	color: #E9E9E9;
	font-weight: 500;
}



th:first-child {
	border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
}

th:last-child {
	border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
}

td:first-child {
	border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
}

td:last-child {
	border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
}

table tr {
	background-color: #282828;
	color: #E9E9E9;
}

th,
td {
	padding: 15px;
	margin: 10px 0px;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #282828;
}

.auth_tab {
	padding: 6px 24px;
	border-radius: 12px;
	font-weight: 500;
	font-size: 30px;
	background-color: inherit;
	color: #E9E9E9;
}

.auth_tab.active {
	background-color: #00A550;
	color: #E9E9E9;
}

.checkbox-label span {
	background-color: #313131;
	font-weight: 500;
	color: #E9E9E9;
	border-radius: 8px;
}

.checkbox-label input:checked+span {
	background-color: #00A550;
	color: #E9E9E9;
	font-weight: 600;
	border-radius: 8px;
}

.checkbox-label-date {
	width: 30%;
	margin: 5px;

}

.checkbox-label-date span {
	background-color: inherit;
	color: #E9E9E9;
	border-radius: 8px;
	border: 1px solid #00A550;
}

.checkbox-label-date input:checked+span {
	background-color: #00A550;
	color: #E9E9E9;
	font-weight: 500;
	border-radius: 8px;
}

.custom-accordion-item {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #313131;
}

.custom-accordion-header {
	display: flex;
	justify-content: space-between;
}

.custom-accordion-header p {
	color: #E9E9E9;
}

.custom-accordion-content {
	padding: 10px 0px;
	display: none;
}

.custom-accordion-item.active .custom-accordion-content {
	display: block;
}

.triangle-top {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #00A550;
}

.triangle-bottom {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #E9E9E9;
}

.category-item{
	background-color: #313131;
	color: #E9E9E9;
	padding: 10px 20px;
	font-weight: 500;
	border-radius: 8px;
	margin-right: 10px;
	border: 1px solid #686868;
	cursor: pointer;
}

.category-item.active{
	background-color: #00A550;
	border: 1px solid #313131;
}


.products-list {
	display: none;
}

.products-list.active {
	display: flex;
}


#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 80px;
	font-size: 17px;
	background-color: #F1F1F1;
	color: #323232;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}