@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

p {
	margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper.dark {
	background-color: #313131;
}

.wrapper.light {
	background-color: #F8F8F8;
}


.navbar {
	margin-left: 300px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar.dark {
	background-color: #313131;
}

.navbar.light {
	background-color: #F8F8F8;
}

.navbar-logo {
	font-size: 1.5em;
}

.navbar-links {
	display: flex;
}

.navbar-links a {
	text-decoration: none;
	margin-left: 75px;
}

.navbar-links.dark a {
	color: #E9E9E9;
}

.navbar-links.light a {
	color: #323232;
}

.navbar-links.dark a.active {
	color: #00A550;
}

.navbar-links.light a.active {
	color: #2094AD;
}

.navbar-icons button {
	background-color: inherit;
	margin-left: 15px;
}



.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	z-index: 1;
}

.sidebar.dark {
	background-color: #282828;
}

.sidebar.light {
	background-color: #F1F1F1;
}

.sidebar__logo.dark {
	padding: 10px; background-color: #313131; margin: 0px 10px; border-radius: 12px;
}

.sidebar__logo.light {
	padding: 10px; background-color: #2094AD; margin: 0px 10px; border-radius: 12px;
}


.sidebar a {
	padding: 10px;
	text-decoration: none;
	display: block;
}


.sidebar__links {
	padding: 0px;
}

.sidebar__link {
	padding: 5px 15px;
	width: 100%;
	margin: 0px 20px;
}

.sidebar__link div {
	display: flex;
	align-items: center;
}



.sidebar__link a {
	margin-left: 20px;
}

.sidebar__link.dark a {
	color: #E9E9E9;
}

.sidebar__link.light a {
	color: #323232;
}

.sidebar__link-active {
	border-radius: 8px 0px 0px 8px;
}

.sidebar__link.dark.sidebar__link-active {
	background-color: #313131; 
}

.sidebar__link.light.sidebar__link-active {
	background-color: #F8F8F8;
}

.sidebar__link.sidebar__link-active a {
	font-weight: 500;
}

.sidebar__link a {
	vertical-align: middle;
}

.news-count{
	position: absolute; 
	top: 20%; 
	right: 60%; 
	padding: 1px 3px; 
	border-radius: 16px; 
	font-size: 12px; 
}

.news-count.dark{
	background-color: #00A550;
	color: #E9E9E9;
}

.news-count.light{
	background-color: #2094AD;
	color: #F1F1F1;
}


.content {
	margin-left: 300px;
	padding: 15px;
	flex: 1 1 auto;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 2;
}

.footer__title.dark {
	background-color: #00A550; 
	color: #E9E9E9;
}

.footer__title.light {
	background-color: #2094AD; 
	color: #F1F1F1;
}

.footer__content.dark {
	background-color: #282828;
}

.footer__content.light {
	background-color: #F1F1F1;
}

.footer__content-title {
	font-size: 20px;
}

.footer__content-title.dark {
	color: #E9E9E9;
}

.footer__content-title.light {
	color: #323232;
}

.marquee {
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	left: 50px;
	width: 100%;
	height: 60%;
	margin-left: 10px;
}

#marqueeText {
	display: inline-block;
	animation: marquee 15s linear infinite;
}

#marqueeText.dark {
	color: #E9E9E9;
}

#marqueeText.light {
	color: #323232;
}

@keyframes marquee {
	0% {
		transform: translate(100%, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

h1.title {
	font-size: 32px; 
	font-weight: 600; 
}

h1.title.dark {
	color: #E9E9E9;
}

h1.title.light {
	color: #323232;
}

.button-1.dark{
	background-color: #00A550; 
	color: #E9E9E9;
}

.button-1.light{
	background-color: #2094AD; 
	color: #E9E9E9;
}

.button-2.dark{
	color: #00A550;
	border: 1px solid #00A550;
}


.button-2.light{
	color: #2094AD;
	border: 1px solid #2094AD;
}


.card {
	padding: 20px; 
	border-radius: 16px;
}

.card.dark {
	background-color: #282828; 
}

.card.light {
	background-color: #F1F1F1;
}

.provider-card {
	padding: 10px; 
	border-radius: 16px;
	margin-bottom: 10px;
}

.provider-card.dark {
	background-color: #282828; 
}

.provider-card.light {
	background-color: #F1F1F1;
}

.news {
	border-radius: 16px; 
	padding: 20px; 
	margin: 10px 0px;
}

.news.dark {
	background-color: #282828; 
	color: #E9E9E9;
}

.news.light {
	background-color: #F1F1F1;
	color: #323232;
}

.news__author {
	font-size: 24px; 
	font-weight: 500; 
	margin-left: 10px;
}


.news__text {
	margin-top: 10px; 
	line-height: 24px;
}

.product {
	position: relative; 
	margin: 10px 0px; 
	padding: 10px; 
	border-radius: 8px;
}

.product.dark {
	background-color: #313131; 
}

.product.light {
	background-color: #F8F8F8;
}

.product__distance {
	position: absolute; 
	top: 10px; 
	right: 10px; 
	color: #616161;
}

.product__title.dark {
	color: #E9E9E9;
}

.product__title.light {
	color: #323232;
}


.product__title span{
	font-size: 12px; 
	color: #616161;
}

.product__price {
	font-size: 24px; 
	font-weight: 500; 
}

.product__price.dark {
	color: #00A550;
}

.product__price.light {
	color: #2094AD;
}

.product__price-2 {
	font-size: 12px; 
	color: #616161; 
	width: 100px;
}

.providers__company {
	font-size: 20px; 
	font-weight: 600; 
}

.providers__company.dark {
	color: #E9E9E9;
}

.providers__company.light {
	color: #323232;
}

.providers__region {
	font-weight: 500;
}

.providers__region.dark {
	color: #00A550;
}

.providers__region.light {
	color: #2094AD;
}

.providers__description {
	line-height: 20px; 
	max-height: 80px; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.providers__description.dark {
	color: #E9E9E9;
}

.providers__description.light {
	color: #323232;
}

.search_providers {
	padding: 5px 10px; 
	border-radius: 8px;
}

.search_providers.dark {
	background-color: #282828;
}

.search_providers.light {
	background-color: #F1F1F1;
}

.search_products {
	padding: 5px 10px; 
	border-radius: 8px;
}

.search_products.dark {
	background-color: #313131;
}

.search_products.light {
	background-color: #F8F8F8;
}

.details {
	font-size: 12px;
}

.details.dark {
	color: #00A550;
}

.details.light {
	color: #2094AD;
}

.provider__description {
	line-height: 20px;
	margin: 20px 0px;
}

.provider__description.dark {
	color: #E9E9E9;
}

.provider__description.light {
	color: #323232;
}

.partner__subtitle {
	line-height: 20px;
}

.partner__subtitle.dark {
	color: #E9E9E9; 
}

.partner__subtitle.light {
	color: #323232;
}

.partner__subtitle span{
	font-weight: 500; 
}

.partner__subtitle.dark span{
	color: #00A550;
}

.partner__subtitle.light span{
	color: #2094AD;
}

.partner-content-title {
	font-weight: 500;
	text-align: center;
}

.partner-content-title.dark {
	color: #00A550;
}

.partner-content-title.light {
	color: #2094AD;
}

.partner__description {
	line-height: 20px; 
	margin-left: 10px;
}

.partner__description.dark{
	color: #E9E9E9; 
}

.partner__description.light{
	color: #323232; 
}

.partner__signup {
	font-size: 20px; 
	font-weight: 500; 
	line-height: 32px;
}

.partner__signup.dark {
	color: #E9E9E9;
}

.partner__signup.light {
	color: #323232;
}



.store-item__data-count {
	border-radius: 12px;
	padding: 5px 5px;
	max-width: 100px;
	min-width: 100px;
	font-size: 16px;
}

.store-item__data-count.dark {
	border: 1px solid #00A550;
}

.store-item__data-count.light {
	border: 1px solid #2094AD;
}

.store-item__data-count span {
	font-weight: 600;
	padding: 5px;
	font-size: 20px;
	
}

.store-item__data-count.dark span{
	color: #00A550;
}

.store-item__data-count.light span{
	color: #2094AD;
}


.store-item__data-count input {
	width: 100%;
	text-align: center;
	background-color: inherit;
	font-size: 20px;
	font-weight: 600;
}

.store-item__data-count.dark input {
	color: #E9E9E9;
}

.store-item__data-count.light input {
	color: #323232;
}

.form-group {
	position: relative;
}

label {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
	pointer-events: none;
	display: none;
}

.input-field {
	padding: 10px;
	border-radius: 8px;
	margin: 10px 0px;
	width: 100%;
}

.input-field.dark {
	background-color: #313131;
	color: #F8F8F8;
}

.input-field.light {
	background-color: #F8F8F8;
	color: #323232;
}

.input-field:focus+label {
	display: block;
	top: -5px;
	left: 5px;
	font-size: 12px;
}

.input-field.dark:focus+label {
	color: #E9E9E9;
}

.input-field.light:focus+label {
	color: #323232;
}

.input-field.dark:focus {
	border: 1px solid #00A550;
}

.input-field.light:focus {
	border: 1px solid #2094AD;
}

select.input-field {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
}

select.input-field.dark {
	background-image: url('/static/img/select-arrow.svg');
	background-position: right 10px center;
    background-repeat: no-repeat;
}

select.input-field.light {
	background-image: url('/static/img/select-arrow-dark.svg');
	background-position: right 10px center;
    background-repeat: no-repeat;
}

.filter_search-title {
	font-weight: 500; 
	text-align: center;
}

.filter_search-title.dark {
	color: #E9E9E9; 
}

.filter_search-title.light {
	color: #323232; 
}

.provider_link {
	font-size: 12px;
}

.provider_link.dark {
	color: #00A550; 
}

.provider_link.light {
	color: #2094AD; 
}

.logo_preview.dark {
	border: 1px solid #00A550; 
	background-color: #313131;
}

.logo_preview.light {
	border: 1px solid #2094AD; 
	background-color: #F8F8F8;
}

.select_logo {
	font-weight: 500; 
	font-size: 20px; 
	position: absolute; 
	bottom: 10px; 
	left: 20%;
}


.select_logo.dark {
	color: #00A550; 
}

.select_logo.light {
	color: #2094AD; 
}

.upload_files {
	padding: 20px; 
	margin-bottom: 200px;
	border-radius: 16px;
}

.upload_files.dark {
	border: 1px solid #00A550;
}

.upload_files.light {
	border: 1px solid #2094AD;
}

.upload_files-text {
	font-weight: 500;
	line-height: 24px;
}

.upload_files-text.dark {
	color: #00A550;
}

.upload_files-text.light {
	color: #2094AD;
}

.profile-info.dark {
	color: #E9E9E9;
}

.profile-info.light {
	color: #323232;
}

.product-subtitle.dark {
	color: #E9E9E9;;
}

.product-subtitle.light {
	color: #323232;;
}

.upload-product.dark {
	border: 1px solid #00A550; 
	background-color: #313131;
}

.upload-product.light {
	border: 1px solid #2094AD; 
	background-color: #F8F8F8;
}

.cart.dark {
	background-color: #282828; 
}

.cart.light {
	background-color: #F1F1F1;
}


select::-ms-expand {
    display: none;
}

.input-field:focus::placeholder {
	color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.errorlist {
	color: red;
	margin-bottom: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 0 8px;
}

thead {
	background: #282828;
	color: #E9E9E9;
	font-weight: 500;
}


th:first-child {
	border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
}

th:last-child {
	border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
}

td:first-child {
	border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
}

td:last-child {
	border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
}

tr {
	background-color: #282828;
	color: #E9E9E9;
}

th,
td {
	padding: 15px;
	margin: 10px 0px;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content.dark {
	background-color: #282828;
}

.popup-content.light {
	background-color: #F1F1F1;
}


.auth_tab {
	padding: 6px 24px; 
	border-radius: 12px;
	font-weight: 500; 
	font-size: 30px;
	background-color: inherit;
}

.auth_tab.dark {
	color: #E9E9E9;
}

.auth_tab.light {
	color: #323232;
}

.auth_tab.active.dark {
	background-color: #00A550;
	color: #E9E9E9;
}

.auth_tab.active.light {
	background-color: #2094AD;
	color: #E9E9E9;
}

.checkbox-label span {
	background-color: #313131;
	font-weight: 500;
	color: #E9E9E9;
	border-radius: 8px;
}

.checkbox-label input:checked+span {
	background-color: #00A550;
	color: #E9E9E9;
	font-weight: 600;
	border-radius: 8px;
}

.checkbox-label-date {
	width: 30%;
	margin: 5px;

}

.checkbox-label-date span {
	background-color: inherit;
	color: #E9E9E9;
	border-radius: 8px;
	border: 1px solid #00A550;
}

.checkbox-label-date input:checked+span {
	background-color: #00A550;
	color: #E9E9E9;
	font-weight: 500;
	border-radius: 8px;
}

.custom-accordion-item {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 8px;
}

.custom-accordion-item.dark {
	background-color: #313131;
}

.custom-accordion-item.light {
	background-color: #F8F8F8;
}

.custom-accordion-header {
	display: flex;
	justify-content: space-between;
}

.custom-accordion-header.dark p{
	color: #E9E9E9;
}

.custom-accordion-header.light p{
	color: #323232;
}

.custom-accordion-content {
	padding: 10px 0px;
	display: none;
}

.custom-accordion-item.active .custom-accordion-content {
	display: block;
}

.triangle-top.dark {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #00A550;
}

.triangle-bottom.dark {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #E9E9E9;
}


.triangle-top.light {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #2094AD;
}

.triangle-bottom.light {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #323232;
}