{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1440">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<style>
		#snackbar {
			visibility: hidden;
			min-width: 250px;
			margin-left: -125px;
			text-align: center;
			border-radius: 2px;
			padding: 16px;
			position: fixed;
			z-index: 1;
			left: 50%;
			bottom: 80px;
			font-size: 17px;
		}

		#snackbar.dark {
			background-color: #F1F1F1;
			color: #323232;
		}

		#snackbar.light {
			background-color: #242424;
			color: #E9E9E9;
		}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

		@-webkit-keyframes fadein {
			from {
				bottom: 0;
				opacity: 0;
			}

			to {
				bottom: 30px;
				opacity: 1;
			}
		}

		@keyframes fadein {
			from {
				bottom: 0;
				opacity: 0;
			}

			to {
				bottom: 30px;
				opacity: 1;
			}
		}

		@-webkit-keyframes fadeout {
			from {
				bottom: 30px;
				opacity: 1;
			}

			to {
				bottom: 0;
				opacity: 0;
			}
		}

		@keyframes fadeout {
			from {
				bottom: 30px;
				opacity: 1;
			}

			to {
				bottom: 0;
				opacity: 0;
			}
		}

	</style>
	{% block style %} {% endblock style %}
	<title>{% block title %} {% endblock title %}</title>
</head>

<body>
	<div class="wrapper dark">
		<div id="popup" class="popup auth-popup" {% if login_form.errors or register_form.errors %}
			style="display: block;" {% endif %}>
			<div class="popup-content dark d-flex flex-column" style="width: 540px;">
				<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
					<button class="auth_tab {% if login_form.errors %} {% else %} active {% endif %} dark"
						onclick="openTab(this)">Регистрация</button>
					<button class="auth_tab {% if login_form.errors %} active {% endif %} dark"
						onclick="openTab(this)">Войти</button>
				</div>
				<form action="{% url 'signup' %}" method="post" class="signup" {% if login_form.errors %}
					style="display: none;" {% else %} style="display: flex; flex-direction: column;" {% endif %}>
					{% csrf_token %}
					{{ register_form.spec }}
					{{ register_form.spec.errors }}
					<div class="form-group">
						{{ register_form.fullName }}
						<label for="fullName">ФИО</label>
					</div>
					{{ register_form.fullName.errors }}
					<div class="form-group">
						{{ register_form.phone }}
						<label for="phone">Номер телефона</label>
					</div>
					{{ register_form.phone.errors }}
					<div class="form-group">
						{{ register_form.email }}
						<label for="email">E-mail</label>
					</div>
					{{ register_form.email.errors }}
					<button class="button-1 dark" style="font-weight: 600; border-radius: 8px; padding: 10px 0px;"
						type="submit">Зарегистрироваться</button>
				</form>
				<form action="{% url 'login_view' %}" method="post" class="signin" {% if login_form.errors %}
					style="display: flex; flex-direction: column;" {% else %} style="display: none;" {% endif %}>
					{% csrf_token %}
					<div class="form-group">
						{{ login_form.username }}
						<label for="username">E-mail</label>
					</div>
					<div class="form-group">
						{{ login_form.password }}
						<label for="password">Пароль</label>
					</div>
					{{ login_form.password.errors }}
					<button class="button-1 dark" style="font-weight: 600; border-radius: 8px; padding: 10px 0px;"
						type="submit">Войти</button>
				</form>
			</div>
		</div>
		<div id="popup" class="popup product-popup">
			<div class="popup-content dark" style="width: 1000px; max-height: 320px;">
				<form method="post" enctype="multipart/form-data" class="d-flex flex-column product-form">
					{% csrf_token %}
					<div class="d-flex">
						<div class="product_image_preview upload-product dark"
							style="min-width: 233px; min-height: 233px; text-align: center; border-radius: 16px; margin-right: 20px; position: relative; cursor: pointer;"
							onclick="this.querySelector('input').click()">
							<input type="file" id="product_image_input" name="photo"
								style="position: absolute; bottom: 0; left: 10px; z-index: -10;" hidden>
							<img class="upload-icon" src="{% static 'img/upload.png' %}"
								style="position: absolute; top: 20%; left: 23%;" alt="">
							<p class="select_logo dark"
								style="font-weight: 500; font-size: 20px; position: absolute; bottom: 10px; left: 20%;">
								Выбрать фото</p>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<input type="text" name="category" hidden>
							<input type="text" name="store" hidden>
							<input type="text" name="articul" class="input-field dark" style="margin-top: 0px;"
								placeholder="Артикул" 
								required>
							<input type="text" name="name" class="input-field dark" placeholder="Название" required>
							<div class="d-flex">
								<input type="number" name="amount" style="width: 70%; margin-right: 10px;"
									class="input-field dark" placeholder="Количество" required>
								<select name="unit" style="width: 30%;" class="input-field dark" required>
									<option disabled value="">Ед. изм</option>
									<option value="шт">шт</option>
									<option value="см">см</option>
									<option value="м2">м2</option>
								</select>
							</div>
							<div class="d-flex">
								<input type="number" name="price" style="margin-bottom: 0px; margin-right: 10px;"
									class="input-field dark" placeholder="Цена" required>
								<input type="number" name="remainder" style="margin-bottom: 0px;"
									class="input-field dark" placeholder="Остаток" required>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<textarea name="description" style="margin: 0px; width: 280px; margin-left: 10px;"
								class="input-field dark" placeholder="Описание" required cols="20" rows="5"></textarea>
							<textarea name="tags" style="margin: 0px; width: 280px; margin-left: 10px;" class="input-field dark" placeholder="Введите тэги товара через запятую" required cols="20" rows="5"></textarea>
						</div>
					</div>
					<div class="button-parent" style="width: 100%; height: 30px; position: relative; margin-top: 10px;">

					</div>
				</form>
			</div>
		</div>

		<div id="popup" class="popup store_products-popup">
			<div class="popup-content dark d-flex flex-column" style="width: 1200px;">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex" style="margin-bottom: 10px;">
						<img class="img-provider" src="" width="56" height="56"
							style="margin-right: 10px; border-radius: 8px;" alt="">
						<a href="">
							<div class="product-subtitle dark" style="font-weight: 600; line-height: 16px;"></div>
							<div class="product-subtitle dark" style="font-size: 12px; line-height: 16px;">Адрес склада
							</div>
							<div class="product-subtitle dark" style="font-size: 12px; line-height: 16px;"></div>
						</a>
					</div>
					<div class="d-flex search_products dark">
						<input placeholder="Поиск поставщика" type="text"
							style="border: 0px none;outline: 0px none; background-color: inherit; color: #616161;">
						<img src="{% static 'img/loop.svg' %}" alt="">
					</div>
				</div>
				<div class="swiper-container" style="overflow: hidden;">
					{% for category in categories %}
					<div class="swiper-wrapper products-list cat_{{category.id}} {% if category.id == 1 %}active{% endif %}">
					</div>
					{% endfor %}
				</div>
				<div class="d-flex swiper-container-category" style="position: absolute; top: 100%; left: 50%; transform: translate(-50%, 40%); width: 1200px; overflow: hidden;">
					<div class="d-flex swiper-wrapper">
						{% for category in categories %}
						<div class="category-item dark swiper-slide {% if category.id == 1 %}active{% endif %}" onclick="changeCategory(this, '{{category.id}}')">{{category.name}}</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>

		<div id="popup" class="popup success_deal-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Ваш магазин отправлен
							на модерацию, ожидайте, мы пришлем вам уведомление на почту, и в разделе “Новости” на сайте.
						</p>
						<button class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Отлично!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup store-delete-popup">
			<div class="popup-content dark" style="width: 522px;">
				<div class="d-flex flex-column">
					<p class="profile-info dark" style="line-height: 24px; margin-bottom: 10px;">Вы действительно хотите
						удалить ваш магазин от Маркета?</p>
					<div class="d-flex justify-content-between">
						<button
							style="background-color: inherit; color: #FF0000;  border: 1px solid #FF0000; font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Удалить</button>
						<button
							style="background-color: #00A550; color: #E9E9E9; font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Не
							удалять</button>
					</div>
				</div>
			</div>
		</div>

		<div id="popup" class="popup success_reg-popup" {% if success_reg and not register_form.errors %}
			style="display: block;" {% endif %}>
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Ваш пароль был
							отправлен на почту: {{request.user.email}}</p>
						<button
							onclick="document.querySelector('.success_reg-popup').style.display = 'none'; {% if request.user.provider %} document.querySelector('.success_reg2-popup').style.display = 'block'; {% else %}document.querySelector('.success_reg3-popup').style.display = 'block'; {% endif %}"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Отлично!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup success_reg2-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Поздравляем, спасибо
							за доверие! Теперь зайдите в cвой профиль и заполните данные о Вашем магазине и добавьте
							товары</p>
						<button onclick="window.location.pathname = '/profile/'"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Ok!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup success_reg3-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Поздравляем, спасибо
							за доверие! Теперь нужно заполнить профиль покупателя</p>
						<button onclick="window.location.pathname = '/buyer/'"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Ok!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup approve-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Магазин отправлен на
							проверку ожидайте сообщения на вашу почту</p>
						<button onclick="document.querySelector('.approve-popup').style.display = 'none';"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Ok!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>
		
		<div id="popup" class="popup status-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Ваш статус позволяет создать <span></span> товара</p>
						<button onclick="window.location.pathname = '/susbscriptions/'"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Понято</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup application-popup">
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Ваша заявка принята, ближайший свободный менеджер с вами свяжется</p>
						<button onclick="document.querySelector('.application-popup').style.display = 'none';"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Ok!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<div id="popup" class="popup base_profile-popup" {% if success_save %} style="display: block;" {% endif %}>
			<div class="popup-content dark" style="width: 750px; height: 170px;">
				<div class="d-flex" style="position: relative; height: 100%;">
					<div class="d-flex flex-column justify-content-between" style="width: 420px;">
						<p class="profile-info dark" style="font-weight: 500; line-height: 24px;">Отлично, добавьте Ваш
							первый магазин! Для этого нажмите добавить магазин в правом верхнем углу.</p>
						<button onclick="document.querySelector('.base_profile-popup').style.display = 'none';"
							class="button-1 dark"
							style="font-weight: 600; border-radius: 8px; width: 200px; padding: 10px 0px;">Ok!</button>
					</div>
					<img class="success_deal" src="{% static 'img/success_deal.png' %}"
						style="position: absolute; bottom: -20px; right: 20px;" alt="">
				</div>
			</div>
		</div>

		<header class="navbar dark">
			<div class="container">
				<div class="navbar-links dark">
					<a {% if request.path == '/' or request.path == '/login/' %} class="active" {% endif %} href="{% url 'index' %}">Главная</a>
					<a {% if request.path == '/partner/' %} class="active" {% endif %} href="{% url 'partner' %}">Стать партнером</a>
					<a {% if request.path == '/delivery/' %} class="active" {% endif %} href="{% url 'delivery' %}">Доставка</a>
					<a {% if request.path == '/providers/' %} class="active" {% endif %} href="{% url 'providers' %}">Поставщики</a>
				</div>
				{% if request.user.is_authenticated %}
					{% if request.user.provider %}
						<div class="navbar-icons">
							<button type="button" onclick="themeChange()">
								<img class="moon-icon" src="{% static 'img/moon.svg' %}" alt="">
							</button>
						</div>
					{% else %}
						<div class="navbar-icons">
							<button type="button" onclick="themeChange()">
								<img class="moon-icon" src="{% static 'img/moon.svg' %}" alt="">
							</button>
							<button type="button" onclick="window.location.href = '/cart/'">
								{% if request.path == '/cart/' %}
								<img class="cart-icon" src="{% static 'img/cart-active.svg' %}" alt="">
								{% else %}
								<img class="cart-icon" src="{% static 'img/cart.svg' %}" alt="">
								{% endif %}
							</button>
						</div>
					{% endif %}
				{% else %}
					<div class="navbar-icons">
						<button type="button" onclick="themeChange()">
							<img class="moon-icon" src="{% static 'img/moon.svg' %}" alt="">
						</button>
						<button type="button" onclick="document.querySelector('.auth-popup').style.display = 'block';">
							<img class="user-icon" src="{% static 'img/user.svg' %}" alt="">
						</button>
					</div>
				{% endif %}
			</div>
		</header>
	
		<div class="sidebar dark">
			<div class="d-flex justify-content-around align-items-center sidebar__logo dark">
				<img class="logo" src="{% static 'img/logo.svg' %}" alt="">
				<p style="font-size: 24px; font-weight: 600; color: #E9E9E9;">TODOMARKET</p>
			</div>
			<br>
			<ul class="sidebar__links">
				<li class="sidebar__link dark {% if request.path == '/profile/' %} sidebar__link-active {% endif %}">
					<div>
						<img class="profile-icon" src="{% if request.path == '/profile/' %} {% static 'img/profile-active.svg' %} {% else %} {% static 'img/profile.svg' %} {% endif %}" alt="">
						<a href="{% if request.user.provider %}{% url 'profile' %}{% else %}{% url 'buyer' %}{% endif %}">Мой профиль</a>
					</div>
				</li>
	
				<li class="sidebar__link dark {% if request.path == '/orders/' %} sidebar__link-active {% endif %}">
					<div>
						<img class="works-icon" src="{% if request.path == '/orders/' %} {% static 'img/works-active.svg' %} {% else %} {% static 'img/works.svg' %} {% endif %}" alt="">
						<a href="{% url 'orders' %}">Заказы</a>
					</div>
				</li>
	
	
				<li class="sidebar__link dark">
					<div>
						<img class="help-icon" src="{% static 'img/help.svg' %}" alt="">
						<a href="https://t.me/todotodo_admin">Помощь</a>
					</div>
				</li>
	
				<br><br><br><br><br>
				<li class="sidebar__link dark" style="padding: 0px; margin: 0px;">
					<a href="{% url 'susbscriptions' %}">Подписка</a>
				</li>
				<li class="sidebar__link dark" style="padding: 0px; margin: 0px;">
					<a href="https://t.me/chattodotodo_bot">Другие проекты</a>
				</li>
				<li class="sidebar__link dark" style="padding: 0px; margin: 0px;">
					<a href="https://t.me/todotodo_admin">Вопрос-ответ</a>
				</li>
				<li class="sidebar__link dark" style="padding: 0px; margin: 0px; position: relative;">
					<a href="{% url 'news' %}">Новости</a>
					<p class="news-count dark">{{news_length}}</p>
				</li>
				{% if request.user.is_authenticated %}
					<li class="sidebar__link dark" style="padding: 0px; margin: 0px;">
						<a href="{% url 'logout_core_view' %}">Выйти</a>
					</li>
				{% endif %}
			</ul>
		</div>

		<div class="content">
			<div class="container">
				{% block content %}

				{% endblock content %}
			</div>
		</div>

		<footer class="footer">
			<p class="footer__title dark" style="padding-left: 5px;">Реклама</p>
			<div class="d-flex footer__content dark">
				<img src="{{ads.img.url}}" width="56" height="56" alt="">
				<div class="d-flex flex-column justify-content-around marquee">
					<p class="footer__content-title dark">{{ads.title}}</p>
					<p id="marqueeText" class="dark">{{ads.text}}</p>
				</div>
			</div>
		</footer>
		<div id="snackbar" class="dark">Товар добавлен в корзину</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{% static 'js/theme.min.js' %}"></script>
	<script>

		window.addEventListener('click', function (event) {
			let popups = document.querySelectorAll('#popup');
			const dropdownMenu = document.getElementById('dropdownMenu');
			for (let popup of popups) {
				if (event.target == popup) {
					popup.style.display = 'none';
				}
			}


		});

		function minus(element) {
			i = element.nextElementSibling;
			if (i.value != 1) {
				i.value = Number(i.value) - 1
			}
		}

		function plus(element) {
			i = element.previousElementSibling;
			i.value = Number(i.value) + 1
		}

		function openTab(element) {
			if (element.textContent == 'Регистрация') {
				element.classList.add("active")
				if (localStorage.getItem('theme') == 'light') {
					element.style.backgroundColor = "#2094AD"
				} else {
					element.style.backgroundColor = "#00A550"
				}
				element.nextElementSibling.classList.remove("active")
				element.nextElementSibling.style.backgroundColor = "inherit"
				document.querySelector(".signup").classList.add("d-flex")
				document.querySelector(".signup").classList.add("flex-column")
				document.querySelector(".signin").classList.remove("d-flex")
				document.querySelector(".signin").classList.remove("flex-column")
				document.querySelector('.signin').style.display = 'none';
			} else {
				element.classList.add("active")
				if (localStorage.getItem('theme') == 'light') {
					element.style.backgroundColor = "#2094AD"
				} else {
					element.style.backgroundColor = "#00A550"
				}
				element.previousElementSibling.classList.remove("active")
				element.previousElementSibling.style.backgroundColor = "inherit"
				document.querySelector(".signin").classList.add("d-flex")
				document.querySelector(".signin").classList.add("flex-column")
				document.querySelector(".signup").classList.remove("d-flex")
				document.querySelector(".signup").classList.remove("flex-column")
				document.querySelector('.signup').style.display = 'none';
			}
		}

		function toggleAccordion(element) {
			element.parentNode.classList.toggle("active");

			var accordionContent = element.nextElementSibling;
			var triangle = element.querySelector(".triangle")
			if (triangle.classList.contains("triangle-bottom")) {
				triangle.classList.remove("triangle-bottom")
				triangle.classList.add("triangle-top")
			} else {
				triangle.classList.remove("triangle-top")
				triangle.classList.add("triangle-bottom")
			}
		}


		function openProduct(element, store, isCreate, category, name, articul, amount, unit, remainder, image, description, tags, id, price, is_first) {
			const popup_product = document.querySelector(".product-popup")
			const button_parent = popup_product.querySelector(".button-parent")
			for (const button of button_parent.querySelectorAll("button")) {
				button.remove()
			}
			if (isCreate) {
				for (const input of popup_product.querySelectorAll("input")) {
					if (input.name == "category") {
						input.value = category
					} else if (input.name == "store") {
						input.value = store
					} else {
						input.value = ""
					}
				}

				productPreview.style.background = `none`;
				if (localStorage.getItem('theme') == 'light') {
					productPreview.style.backgroundColor = `#F8F8F8`;
				} else {
					productPreview.style.backgroundColor = `#313131`;
				}

				productPreview.querySelector("img").style.display = 'block';

				popup_product.querySelector("select").value = ""
				const textarea = popup_product.querySelectorAll("textarea")

				textarea[0].value = ""
				textarea[1].value = ""

				button_parent.insertAdjacentHTML("afterbegin", `<button type="button" class="button-1 ${localStorage.getItem('theme') == 'light' ? 'light' : 'dark'}" onclick="createProduct(${category}, ${store}, ${is_first})" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 25%; position: absolute; right: 0px;">Создать</button>`)
			} else {
				const name_input = popup_product.querySelector("input[name='name']")
				const articul_input = popup_product.querySelector("input[name='articul']")
				const amount_input = popup_product.querySelector("input[name='amount']")
				const remainder_input = popup_product.querySelector("input[name='remainder']")
				const price_input = popup_product.querySelector("input[name='price']")
				const description_input = popup_product.querySelectorAll("textarea")[0]
				const tags_input = popup_product.querySelectorAll("textarea")[1]
				const select_unit = popup_product.querySelector("select")

				productPreview.style.background = `url("${image}") 0 0/100% 100% no-repeat`;
				productPreview.querySelector("img").style.display = 'none';


				name_input.value = name
				articul_input.value = articul
				amount_input.value = amount
				remainder_input.value = remainder
				description_input.value = description
				select_unit.value = unit
				price_input.value = price
				tags_input.value = tags

				button_parent.insertAdjacentHTML("afterbegin", `<button type="button" class="button-1 ${localStorage.getItem('theme') == 'light' ? 'light' : 'dark'}" onclick="updateProduct(${store}, ${category}, ${id}, ${is_first})" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 25%; position: absolute; right: 0px;">Сохранить</button>`)
			}
			popup_product.style.display = 'block';
		}

		function createProduct(category_id, store_id, is_first) {
			const product_form = document.querySelector('.product-form')
			let formData = new FormData(product_form);
			let xhr = new XMLHttpRequest();
			xhr.open('POST', '/create_product/');
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					if (xhr.response["status"] != undefined) {
						document.querySelector(".product-popup").style.display = "none"
						document.querySelector(".status-popup span").textContent = xhr.response["amount"]
						document.querySelector(".status-popup").style.display = "block"
						return null;
					}
					if (is_first) {
						const target_element = document.querySelector(`#template category_${category_id}`)
						target_element.insertAdjacentHTML("afterbegin", `<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
						<div style="position: relative;">
							<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', true)" alt="">
							<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
							<p class="product-subtitle ${localStorage.getItem('theme') == 'light' ? 'light' : 'dark'}" style="line-height: 24px;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
						</div>
					</div>`)
					} else {
						const target_element = document.querySelector(`.store_${store_id}_${category_id}`)
						target_element.insertAdjacentHTML("afterbegin", `<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
						<div style="position: relative;">
							<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', false)" alt="">
							<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
							<p class="product-subtitle ${localStorage.getItem('theme') == 'light' ? 'light' : 'dark'}" style="line-height: 24px;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
						</div>
					</div>`)
					}

					document.querySelector(".product-popup").style.display = "none"
				}
			};
			xhr.send(formData);
		}

		function updateProduct(store_id, category_id, id, is_first) {
			let formData = new FormData(document.querySelector('.product-form'));
			let xhr = new XMLHttpRequest();
			xhr.open('POST', `/update_product/${id}/`);
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					const target_element = document.querySelector(`.store_${store_id}_${category_id} .product_${id}`)
					for (const div of target_element.querySelectorAll("div")) {
						div.remove()
					}
					target_element.insertAdjacentHTML("afterbegin", `<div style="position: relative;">
						<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', false)" alt="">
						<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
						<p class="product-subtitle ${localStorage.getItem('theme') == 'light' ? 'light' : 'dark'}" style="line-height: 24px;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
					</div>`)
					document.querySelector(".product-popup").style.display = "none"
				}
			};
			xhr.send(formData);
		}

		function deleteProduct(element, id) {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', `/delete_product/${id}/`);
			xhr.onload = function () {
				if (xhr.status == 200) {
					element.parentNode.parentNode.remove()
				}
			};
			xhr.send();
		}

		function showSnack() {
			var x = document.getElementById("snackbar");
			x.classList.add("show")
			setTimeout(function () { x.classList.remove("show"); }, 1000);
		}


		function addToCart(id, form) {
			let formData = new FormData(form);
			let xhr = new XMLHttpRequest();
			xhr.open('POST', `/addtoCart/${id}/`);
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					if (xhr.response['success']) {
						showSnack()
					}
				}
			};
			xhr.send(formData);
		}

		function changeCategory(elem, id) {
			document.querySelector(".products-list.active").classList.remove("active")
			document.querySelector(".category-item.active").classList.remove("active")
			document.querySelector(`.products-list.cat_${id}`).classList.add("active")
			elem.classList.add("active")
		}

	</script>
	{% block script %}{% endblock script %}
</body>

</html>