{% extends 'base.html' %}

{% block title %} Профиль {% endblock title %}

{% load static %}


{% block content %}
<div class="d-flex justify-content-between">
	<h1 class="title dark">Профиль покупателя</h1>
</div>
<div class="main-profile card dark" style="width: 600px;">
	<form class="d-flex flex-column" method="post" action="{% url 'buyer' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="d-flex">
			<div class="d-flex flex-column" style="width: 100%;">
				<div class="form-group">
					<input type="text" name="fullName" value="{{request.user.buyer.fullName}}" class="input-field dark" placeholder="ФИО" required>
					<label for="company">ФИО</label>
				</div>
				<div class="form-group">
					<input type="text" name="phone" value="{{request.user.buyer.phone}}" class="input-field dark" placeholder="Номер телефона" required>
					<label for="phone">Номер телефона</label>
				</div>
				<div class="form-group">
					<input type="text" name="email" value="{{request.user.email}}" class="input-field dark" placeholder="E-mail" required>
					<label for="email">E-mail</label>
				</div>
			</div>
		</div>
        <button class="button-1 dark" type="submit" style="font-weight: 600; border-radius: 8px; width: 30%; height: 42px;">Сохранить</button>
	</form>
</div>

{% endblock content %}