{% extends 'base.html' %}

{% block title %} Заказ {% endblock title %}

{% load static %}

{% block content %}
<div class="d-flex flex-column card dark" style="margin-bottom: 100px;">
	<div class="d-flex justify-content-between align-items-start">
		<div class="d-flex">
			<img src="{% static 'img/location.svg' %}" class="location-img" alt="">
			<p class="provider__description dark" style="line-height: 24px; margin-left: 10px;">Адрес: {{order.address}} ---- Тип доставки: {{order.delivery.name}} <br> Дата и время желаемой доставки: {{order.delivery_date|date:'d.m.Y'}}, {{order.time}}</p>
		</div>
	</div>
	<div class="card-back dark" style="border-radius: 8px; margin-top: 10px;">
		<table style="width: 100%;">
			<thead>
				<tr class="provider__description card-back dark" >
					<th>Название</th>
					<th>Цена</th>
					<th>Количество</th>
					<th>Итого</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.items.items %}
				<tr class="provider__description card-back dark">
					<td>{{item.1.title}}</td>
					<td>{{item.1.price}}</td>
					<td>{{item.1.count}}</td>
					<td>{{item.1.all_price}}</td>
				</tr>
				{% endfor %}
				<tr class="card-back dark">
					<td class="color-1 dark" style="font-weight: 500;">Сумма заказа: {{order.total_price}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Принят</p>
	<div class="card-back dark" style="border-radius: 8px; padding: 10px" class="d-flex align-items-center">
		<p class="provider__description dark">{% if order.accept %}Заказ принят в {{order.accept|date:'d.m.Y'}}{% else %}Еще не принят{% endif %}</p>
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Бухгалтерия</p>
	<div class="card-back dark" style="border-radius: 8px; padding: 10px" class="d-flex align-items-center">
		{% if order.checkk %}
		<a href="{{order.checkk.url}}" class="button-2 dark" style="display: block; text-align: center; font-weight: 600; border-radius: 8px; background-color: inherit; width: 200px; padding: 10px 0px;">Счет</a>
		{% else %}
		<p class="provider__description dark">Счет еще не высставлен</p>
		{% endif %}
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Склад</p>
	<div class="card-back dark" style="border-radius: 8px; padding: 10px" class="d-flex align-items-center">
		<p class="provider__description dark">{% if order.transit %}Отгружен {{order.transit|date:'d.m.Y'}}{% else %}Товар еще не отгружен{% endif %}</p>
	</div>
</div>

{% endblock content %}