{% extends 'base.html' %}

{% block title %} Главная {% endblock title %}

{% load static %}


{% block ascript %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=52427b0d-4b85-4b1a-828b-ad4cf6903c9f&lang=ru_RU" type="text/javascript">
</script>
<script type="text/javascript">
	ymaps.ready(init);
	function init(){
		var myMap = new ymaps.Map("map", {
			center: [55.76, 37.64],
			zoom: 10
		});

		{% for store in stores %}

			{% if store.approve %}

			var myPlacemark = new ymaps.Placemark([{{store.map_visor}}]);

			myMap.geoObjects.add(myPlacemark); 

			{% endif %}
		
		{% endfor %}

	}
</script>
{% endblock ascript %}


{% block content %}

<h1 class="title dark">Главная страница</h1>
<div class="d-flex">
	<div class="card dark products" style="width: 700px; margin-right: 10px; margin-bottom: 300px;">
		<p style="font-size: 24px; font-weight: 600; color: #E9E9E9; margin-bottom: 40px;"></p>
		{% for product in products %}
		<div class="d-flex product dark">
			<img src="{{product.image.url}}" width="136" height="136" style="border-radius: 8px;" alt="">
			<p class="product__distance">10 км от вас</p>
			<div class="d-flex flex-column justify-content-between" style="margin-left: 10px; width: 100%;">
				<div style="margin-top: 20px;" class="d-flex justify-content-between">
					<a href="{% url 'provider' product.store.provider.id %}" class="product__title dark" style="font-weight: 600;">{{product.store.provider.company}}</a>
					<p class="product__title dark">{{product.store.address}}</p>
				</div>
				<p class="product__title dark">{{product.name}}, {{product.articul}} <span>{{product.amount}} {{product.unit}}</span></p>
				<div class="d-flex {% if request.user.provider %} {% else %}justify-content-between{% endif %} align-items-end">
					<p class="product__price dark">{{product.price}} ₽</p>
					<p class="product__price-2" {% if request.user.provider %} style="margin-left: 10px;" {% endif %}>{{product.price}} ₽ без TODOMARKET</p>
					{% if request.user.provider %}
                    {% else %}
					<form method="post" class="store-item__data-count dark d-flex justify-content-between">
						{% csrf_token %}
						<span onclick="minus(this)">-</span>
						<input type="text" name="count" value="1">
						<span onclick="plus(this)">+</span>
					</form>
					<button class="button-1 dark" type="button" onclick="addToCart('{{product.id}}', this.previousElementSibling)" style="padding: 12px 0px; border-radius: 8px; width: 160px; font-weight: 600;">В корзину</button>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
	<div class="card dark" id="map" style="display: none; width: 700px; height: 480px; margin-right: 10px; margin-bottom: 300px;">
		
	</div>
	<form method="get" action="{% url 'index' %}" class="d-flex flex-column card dark" style="width: 275px; max-height: 480px;">
		<p class="filter_search-title dark">Фильтр поиска</p>
		<input class="input-field dark" name="key" placeholder="Ключевое слово" type="text">
		<select class="input-field dark" name="region">
			<option value="" selected disabled>Регион</option>
			{% for region in regions %}
				<option value="{{ region.id }}">{{ region.name }}</option>
			{% endfor %}
		</select>
		<select class="input-field dark" name="category">
			<option value="" selected disabled>Категория</option>
			{% for category in categories %}
				<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
		<select class="input-field dark" name="store">
			<option value="" selected disabled>Магазин</option>
			{% for store in stores %}
				{% if store.approve %}
					<option value="{{ store.id }}">{{ store.provider.company }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<input class="input-field dark" name="price_from" placeholder="Цена от" type="text">
		<input class="input-field dark" name="price_to" placeholder="Цена до" type="text">
		<button class="button-1 dark" type="submit" style="padding: 12px 0px; border-radius: 8px; font-weight: 600; margin: 5px 0px;">Найти</button>
		<a href="#" class="search_by_map dark" onclick="this.parentNode.style.display = 'none'; document.querySelector('.products').style.display = 'none'; document.querySelector('#map').style.display = 'block'">Поиск по карте</a>
	</form>
</div>
{% endblock content %}


