{% extends 'base.html' %}

{% block title %} Главная {% endblock title %}

{% load static %}

{% block content %}

<h1 class="title">Главная страница</h1>
<div class="d-flex flex-column">
	<div class="d-flex">
		<div style="width: 700px; margin-right: 10px; margin-bottom: 300px; {% if flag %} display: block; {% else %} display: none; {% endif %}">
			<p style="font-size: 24px; font-weight: 600; color: #E9E9E9; margin-bottom: 40px;"></p>
			{% if providers|length == 0 %}
			<p style="font-size: 24px; font-weight: 600; color: #E9E9E9; margin-bottom: 40px;">По вашему запросу ничего не найдено</p>
			{% else %}
			{% for provider in providers %}
			<div class="d-flex justify-content-between">
				<div class="d-flex" style="margin-bottom: 10px;">
					<img class="img-provider" src="{{provider.1.logo}}" width="56" height="56" style="margin-right: 10px; border-radius: 8px;" alt="">
					<div>
						<div class="product-subtitle" style="font-weight: 600; line-height: 16px;">{{provider.0}}</div>
						<div class="product-subtitle" style="font-size: 12px; line-height: 16px;">Адрес склада</div>
						<div class="product-subtitle" style="font-size: 12px; line-height: 16px;">{{provider.1.address}}</div>
					</div>
				</div>
				<a href="{% url 'provider' provider.1.provider_id %}" class="provider_link">Перейти поставщику</a>
			</div>
			{% for product in provider.1.products %}
			<div class="d-flex product">
				<img src="{{product.image.url}}" width="136" height="136" style="border-radius: 8px;" alt="">
				<!-- <p class="product__distance">10 км от вас</p> -->
				<div class="d-flex flex-column justify-content-between" style="margin-left: 10px; width: 100%;">
					<div style="margin-top: 20px;" class="d-flex justify-content-between">
						<a href="{% url 'provider' product.store.provider.id %}" style="font-weight: 600;">{{product.store.provider.company}}</a>
						<p>{{product.store.address}}</p>
					</div>
					<p>{{product.name}}, {{product.articul}} <span>{{product.amount}} {{product.unit}}</span></p>
					<div class="d-flex {% if request.user.provider %} {% else %}justify-content-between{% endif %} align-items-end">
						<p>{{product.price}} ₽</p>
						<p {% if request.user.provider %} style="margin-left: 10px;" {% endif %}>{{product.price}} ₽ без TODOMARKET</p>
						{% if request.user.provider %}
						{% else %}
						<form method="post" class="store-item__data-count d-flex justify-content-between">
							{% csrf_token %}
							<span onclick="minus(this)">-</span>
							<input type="text" name="count" value="1">
							<span onclick="plus(this)">+</span>
						</form>
						<button type="button" onclick="addToCart('{{product.id}}', this.previousElementSibling)" style="padding: 12px 0px; border-radius: 8px; width: 160px; font-weight: 600;">В корзину</button>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
			{% endfor %}

			{% endif %}
			
		</div>
		<div id="map" style="width: 700px; height: 480px; margin-right: 10px; margin-bottom: 300px;">
			
		</div>
		<form method="get" action="{% url 'index' %}" class="d-flex flex-column" style="width: 275px; max-height: 220px;">
			<p style="margin-bottom: 10px;">Фильтр поиска</p>
			<input class="input-field" type="text" id="searchInput" name="query" placeholder="Поиск...">
			<select class="input-field">
				<option value="" disabled selected >Сортировка</option>
				<option value="">По возрастанию цены</option>
				<option value="">По убыванию цены</option>
			</select>
			<button {% if request.user.is_authenticated %} type="submit" {% else %} type="button" {% endif %} style="padding: 12px 0px; border-radius: 8px; font-weight: 600; margin: 5px 0px;">Найти</button>
		</form>
	</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/swiper.js' %}"></script>
<script>

	var swiper = new Swiper('.swiper-container', {
		slidesPerView: 4,
		spaceBetween: 20
	});

	var swiper = new Swiper('.swiper-container-category', {
		slidesPerView: 8,
		spaceBetween: 20
	});

	const searchInput = document.getElementById('searchInput');

	const dropdownMenu = document.getElementById('dropdownMenu');

	function selectDropItem(name) {
		searchInput.value = name
		dropdownMenu.style.display = "none"
	}

	// document.addEventListener("DOMContentLoaded", function() {

	// 	searchInput.addEventListener('input', function() {
	// 		const searchTerm = searchInput.value.toLowerCase();
	// 		let xhr = new XMLHttpRequest();
	// 		xhr.open('GET', `/search/?query=${searchTerm}`);
	// 		xhr.responseType = 'json';
	// 		xhr.onload = function () {
	// 			if (xhr.status == 200) {
	// 				for (const dropItem of dropdownMenu.querySelectorAll("div")) {
	// 					dropItem.remove()
	// 				}
	// 				const items = JSON.parse(xhr.response["results"])
	// 				for (const item of items) {
	// 					dropdownMenu.insertAdjacentHTML("afterbegin", `<div class="dropdown-item-custom" onclick="selectDropItem('${item["name"]}')">${item["name"]}</div>`)
	// 				}
	// 				dropdownMenu.style.display = "flex"
	// 				dropdownMenu.style.flexDirection = "column"
	// 			}
	// 		};
	// 		xhr.send();
	// 	});

	// });

	
</script>

<script src="https://api-maps.yandex.ru/2.1/?apikey=52427b0d-4b85-4b1a-828b-ad4cf6903c9f&lang=ru_RU" type="text/javascript">
</script>
<script type="text/javascript">

	ymaps.ready(init);
	function init(){
		var myMap = new ymaps.Map("map", {
			center: [55.76, 37.64],
			zoom: 10
		});

		{% for store in stores %}

			{% if store.approve %}

			var myPlacemark = new ymaps.Placemark([{{store.map_visor}}]);

			myPlacemark.events.add('click', function () {
				let xhr = new XMLHttpRequest();
				xhr.open('GET', `/storeProducts/{{store.id}}/`);
				xhr.responseType = 'json';
				xhr.onload = function() {
					if (xhr.status == 200) {
						const provider = JSON.parse(xhr.response["provider"])
						const store = JSON.parse(xhr.response["store"])
						const products = JSON.parse(xhr.response["products"])
						const storeProducts = document.querySelector(".store_products-popup")
						const product_subtitle = storeProducts.querySelectorAll(".product-subtitle")
						const img_provider = storeProducts.querySelector(".img-provider")
						const provider_link = storeProducts.querySelector("a")
						for (const target_element of storeProducts.querySelectorAll(`.products-list`)) {
							for (const div of target_element.querySelectorAll("div")) {
								div.remove()
							}
						}
						provider_link.href = `/provider/${provider[0]["pk"]}`
						product_subtitle[0].textContent = provider[0]["fields"]["company"]
						product_subtitle[2].textContent = store[0]["fields"]["address"]
						img_provider.src = "/media/" + provider[0]["fields"]["logo"]
						for (const product of products) {
							const target_element = storeProducts.querySelector(`.products-list.cat_${product['fields']['category']}`)
							target_element.insertAdjacentHTML("afterbegin", `<div class="d-flex flex-column swiper-slide" style="max-width: 256px; margin-right: 20px;">
								<img src="${'/media/' + product['fields']['image']}" width="260" height="260" style="border-radius: 8px;" alt="">
								{% if not request.user.provider %}
								<form method="post" class="d-flex justify-content-between" style="margin-top: 5px;">
									{% csrf_token %}
									<button type="button" onclick="addToCart('${product['pk']}', this.parentNode)" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px; text-align: center;">В корзину</button>
									<div class="store-item__data-count  d-flex justify-content-between">
										<span onclick="minus(this)">-</span>
										<input type="text" name="count" value="1">
										<span onclick="plus(this)">+</span>
									</div>
								</form>
								{% endif %}
								<div class="d-flex align-items-center" style="margin: 10px 0px; ">
									<p style="margin-right: 10px;">${product['fields']['price']} ₽</p>
									<p>${product['fields']['price']} ₽ без TODOMARKET</p>
								</div>
								<p>${product['fields']['name']}, ${product['fields']['articul']} <span style="font-size: 12px; color: #616161;">${product['fields']['amount']} ${product['fields']['unit']}</span></p>
							</div>`)
						}
						storeProducts.style.display = 'block'
					}
				};
				xhr.send();
			});

			myMap.geoObjects.add(myPlacemark); 

			{% endif %}
		
		{% endfor %}

	}
</script>


{% endblock script %}

