{% extends 'base.html' %}

{% block title %} {{market.store_name}} {% endblock title %}

{% load static %}

{% block content %}
<div class="d-flex flex-column" style="margin-bottom: 100px; background-color: #282828; padding: 20px; border-radius: 16px;">
    <div class="d-flex">
        <img src="{{market.provider.logo.url}}" width="72" height="72" style="border-radius: 8px;" alt="">
        <div class="d-flex flex-column justify-content-around" style="margin: 10px;"> 
            <p style="color: #E9E9E9; font-size: 20px; font-weight: 600;">{{market.store_name}}</p>
            <p style="color: #00A550; font-weight: 500;">{{market.region.name}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="margin-top: 20px;">
        <p style="color: #E9E9E9;">Адрес: {{market.address}}</p>
        <p style="color: #E9E9E9;">Телефон: {{market.phone}}</p>
        <p style="color: #E9E9E9;">Сайт: {{market.provider.site}}</p>
    </div>
    <div style="line-height: 20px; margin: 20px 0px; color: #E9E9E9;">
        Описание: {{market.provider.description}}
    </div>
    {% for product in products %}
    <div class="custom-accordion-item">
        <div class="custom-accordion-header" onclick="toggleAccordion(this)">
            <p style="font-size: 20px; font-weight: 500;">{{product.0}}</p>
            <div class="triangle triangle-bottom"></div>
        </div>
        <div class="custom-accordion-content swiper-container" style="overflow: hidden;">
            <div class="d-flex swiper-wrapper">
                {% for item in product.1 %}
                <div class="d-flex flex-column swiper-slide" style="max-width: 256px; margin-right: 20px;">
                    <img src="{{item.image.url}}" width="260" height="260" style="border-radius: 8px;" alt="">
                    {% if request.user.provider %}
                    {% else %}
                    <form method="post" class="d-flex justify-content-between" style="margin-top: 5px;">
                        {% csrf_token %}
                        <button type="button" onclick="addToCart('{{item.id}}', this.parentNode)" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px; text-align: center; background-color: #00A550; color: #E9E9E9;">В корзину</button>
                        <div class="store-item__data-count d-flex justify-content-between">
                            <span onclick="minus(this)">-</span>
                            <input type="text" name="count" value="1">
                            <span onclick="plus(this)">+</span>
                        </div>
                    </form>
                    {% endif %}
                    <div class="d-flex align-items-center" style="margin: 10px 0px;">
                        <p style="margin-right: 10px; font-size: 24px; font-weight: 500; color: #00A550;">{{item.price}} ₽</p>
                        <p style="font-size: 12px; color: #616161; width: 100px;">{{item.price}} ₽ без TODOMARKET</p>
                    </div>
                    <p style="color: #E9E9E9;">{{item.name}}, {{item.articul}} <span style="font-size: 12px; color: #616161;">{{item.amount}} {{item.unit}}</span></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
    });

</script>

{% endblock script %}