{% extends 'base.html' %}

{% block title %} Заказы {% endblock title %}

{% load static %}

{% block content %}
<h1 class="title dark">Заказы</h1>
<table class="dark" style="width: 100%;">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Сумма</th>
			<th>Счет</th>
			<th>Отгружен</th>
			<th>Дата отгрузки</th>
			<th>Номер заказа</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td>{{order.created|date:'d.m.Y'}}</td>
			<td>{{order.total_price}}</td>
			<td>{% if order.checkk %}Да{% else %}Нет{% endif %}</td>
			<td>{% if order.transit %}Да{% else %}Нет{% endif %}</td>
			<td>{% if order.transit %} {{order.transit}} {% else %} {% endif %}</td>
			<td>{{order.id}}</td>
			<td><a href="{% url 'order' order.id %}" class="button-2 dark" style="display: block; text-align: center;font-weight: 600; border-radius: 8px; background-color: inherit; padding: 10px 0px;">Подробнее</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}