{% extends 'base.html' %}

{% block title %} Заказы {% endblock title %}

{% load static %}

{% block content %}
<div class="d-flex flex-column card dark" style="margin-bottom: 100px;">
	<div class="d-flex justify-content-between align-items-start">
		<div class="d-flex">
			<img src="{% static 'img/location.svg' %}" class="location-img" alt="">
			<p class="provider__description dark" style="width: 300px; line-height: 24px; margin-left: 10px;">{{order.address}} {{order.delivery.name}}, дата: {{order.created}}, {{order.time}}</p>
		</div>
		<img src="{% static 'img/close.svg' %}" class="close-icon" alt="">
	</div>
	<div class="card-back dark" style="border-radius: 8px; margin-top: 10px;">
		<table style="width: 100%;">
			<thead>
				<tr class="provider__description card-back dark">
					<th>Название</th>
					<th>Цена</th>
					<th>Количество</th>
					<th>Итого</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.items.items %}
				<tr class="provider__description card-back dark">
					<td>{{item.1.title}}</td>
					<td>{{item.1.price}}</td>
					<td>{{item.1.count}}</td>
					<td>{{item.1.all_price}}</td>
				</tr>
				{% endfor %}
				<tr class="card-back dark">
					<td style="font-weight: 500;" class="color-1 dark">Сумма заказа: 19 200</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Продажи</p>
	<div class="card-back dark" style="border-radius: 8px; padding: 20px 10px 0px 10px;">
		<div class="d-flex align-items-center">
			<p class="provider__description dark">22.09.23</p>
			<button class="button-2 dark"
				style="background-color: inherit;font-weight: 600; border-radius: 8px; padding: 10px 20px; margin: 0px 20px;">Принять</button>
			<p class="provider__description dark">Заказ принят 21.0923 в 16:31</p>
		</div>
		<p style="font-size: 12px; color: #FF0000; margin: 10px 0px;">Нажимая кнопку принять, Вы
			подтверждаете отгрузку в выбранную Вами дату</p>
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Бухгалтерия</p>
	<div style="border-radius: 8px; padding: 20px 10px;"
		class="d-flex align-items-center card-back dark">
		<button style="background-color: inherit;">
			<img src="{% static 'img/clip.svg' %}" class="clip-img" alt="">
		</button>
		<button class="button-2 dark"
			style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 10px 20px; margin: 0px 10px;">Отправить
			счет</button>
		<p class="provider__description dark">Заказ принят 21.0923 в 16:31</p>
	</div>
	<p class="provider__description dark" style="font-weight: 500; margin: 10px 0px 10px 10px;">Склад</p>
	<div class="card-back dark" style="border-radius: 8px; padding: 20px 10px;"
		class="d-flex align-items-center">
		<button class="button-2 dark"
			style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 10px 20px; margin-right: 10px;">Заказ
			отгружен</button>
		<p class="provider__description dark">Заказ принят 21.0923 в 16:31</p>
	</div>
</div>

{% endblock content %}