{% extends 'base.html' %}

{% block title %} Профиль {% endblock title %}

{% load static %}

{% block content %}
<div class="d-flex justify-content-between">
	<h1 class="title dark">Профиль компании</h1>
	<button class="button-2 dark" type="button" onclick="createStore(this)" style="{% if request.user.provider.company == '' or request.user.provider.slogan == '' or not request.user.provider.logo or request.user.provider.site == '' or request.user.provider.description == '' %}display: none;{% endif %}background-color: inherit; font-weight: 600; border-radius: 8px; padding: 4px 20px;">Добавить магазин</button>
</div>
<p class="profile-info dark" style="font-weight: 500; margin: 10px 0px;">Общая информация</p>
<div class="main-profile card dark">
	<form class="d-flex flex-column" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="d-flex">
			<div class="logo_preview dark" style="min-width: 300px; min-height: 300px; text-align: center; border-radius: 16px; margin-right: 20px; position: relative; cursor: pointer; {% if request.user.provider.logo %} background: url('{{ request.user.provider.logo.url }}') 0 0/100% 100%; {% endif %}" onclick="this.querySelector('input').click()">
				<input type="file" id="logo_input" name="logo" style="position: absolute; bottom: 0; left: 0; z-index: -10;" required>
				<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); {% if request.user.provider.logo %} display: none; {% endif %}" alt="">
				<p class="select_logo dark">Выбрать логотип</p>
			</div>
			<div class="d-flex flex-column" style="width: 100%;">
				<div class="form-group">
					<input type="text" name="company" value="{{request.user.provider.company}}" class="input-field dark" placeholder="Название компании" required>
					<label for="company">Название компании</label>
				</div>
				<div class="form-group">
					<input type="text" name="fullName" value="{{request.user.provider.fullName}}" class="input-field dark" placeholder="Контактное лицо" required>
					<label for="fullName">Контактное лицо</label>
				</div>
				<div class="form-group">
					<input type="text" name="phone" value="{{request.user.provider.phone}}" class="input-field dark" placeholder="Номер телефона" required>
					<label for="phone">Номер телефона</label>
				</div>
				<div class="form-group">
					<input type="text" name="email" value="{{request.user.provider.email}}" class="input-field dark" placeholder="E-mail" required>
					<label for="email">E-mail</label>
				</div>
				<div>
					<div class="d-flex">
						<div class="form-group" style="width: 50%;">
							<input type="text" name="slogan" value="{{request.user.provider.slogan}}" class="input-field dark" placeholder="Слоган" required>
							<label for="slogan">Слоган</label>
						</div>
						<div class="form-group" style="width: 50%; margin-left: 10px;">
							<input type="text" name="site" value="{{request.user.provider.site}}" class="input-field dark" placeholder="Сайт" required>
							<label for="site">Сайт</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex align-items-end">
			<textarea name="description" placeholder="Описание" rows="5" class="input-field dark" style="width: 70%; margin: 10px 10px 0px 0px;" required>{{request.user.provider.description}}</textarea>
			<button class="button-1 dark" type="submit" style="font-weight: 600; border-radius: 8px; width: 30%; height: 42px;">Сохранить</button>
		</div>
	</form>
</div>
<!-- <p style="font-weight: 500; color: #E9E9E9; margin: 20px 0px;">Условия сотрудничества (заполняются менеджеру сервиса)</p> -->
{% for store in stores %}
	<div class="d-flex flex-column">
		<p class="profile-info dark" style="font-weight: 500; margin: 10px 10px 0px;">Информация о магазине</p>
		<form method="post" action="{% url 'update_store' store.id %}" class="d-flex flex-column card dark" style="margin: 10px 0px;">
			{% csrf_token %}
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="address" class="input-field dark" value="{{store.address}}" placeholder="Адрес склада для самовывоза" required>
					<label for="address">Адрес склада для самовывоза</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="phone" class="input-field dark" value="{{store.phone}}" placeholder="Контакты для заказа" required>
					<label for="phone">Контакт для заказа</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="email" class="input-field dark" value="{{store.email}}" placeholder="E-mail для выгрузок" required>
					<label for="email">E-mail для выгрузок</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="map_visor" class="input-field dark" value="{{store.map_visor}}" placeholder="координаты для отображения на карте" required>
					<label for="map_visor">координаты для отображения на карте</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="store_name" class="input-field dark" value="{{store.store_name}}" placeholder="Название магазина" required>
					<label for="store_name">Название магазина</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="contract" class="input-field dark" value="{{store.contract}}" placeholder="Договор" disabled>
					<label for="contract">Договор</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="assembly_time" class="input-field dark" value="{{store.assembly_time}}" placeholder="время сборки товара, в мин" required>
					<label for="assembly_time">время сборки товара, в мин</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="work_time" class="input-field dark" value="{{store.work_time}}" placeholder="Часы работы" required>
					<label for="work_time">Часы работы</label>
				</div>
			</div>
			<div class="d-flex">
				<select name="delivery_condition" class="input-field dark" style="width: 50%;" required>
					<option value="" disabled selected >Условия доставки</option>
					{% for delivery_condition in delivery_conditions %}
					<option value="{{ delivery_condition.id }}" {% if delivery_condition == store.delivery_condition %} selected {% endif %}>{{ delivery_condition.name }}</option>
					{% endfor %}
				</select>
				<select name="region" class="input-field dark" style="width: 50%; margin-left: 10px;" required>
					<option value="" disabled selected >Регион</option>
					{% for region in regions %}
					<option value="{{ region.id }}" {% if region == store.region %} selected {% endif %}>{{ region.name }}</option>
					{% endfor %}
				</select>
			</div>
			<p class="profile-info dark" style="font-weight: 500; margin: 10px; font-size: 18px;">Товары</p>
			{% for category in categories %}
			<div class="custom-accordion-item dark">
				<div class="custom-accordion-header dark" onclick="toggleAccordion(this)">
					<p class="profile-info dark" style="font-size: 20px; font-weight: 500;">{{category.name}}</p>
					<div class="triangle triangle-bottom dark"></div>
				</div>
				<div class="custom-accordion-content swiper-container" style="overflow: hidden;">
					<div class="d-flex swiper-wrapper store_{{store.id}}_{{category.id}}">
						{% for product in products %}
							{% if product.category == category and product.store == store %}
								<div class="d-flex flex-column swiper-slide product_{{product.id}}" style="width: 256px; margin-right: 20px;">
									<div style="position: relative;">
										<img src="{{product.image.url}}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '{{store.id}}', false, '{{category.id}}', '{{product.name}}', '{{product.articul}}', '{{product.amount}}', '{{product.unit}}', '{{product.remainder}}', '{{product.image.url}}', '{{product.description}}', '{{product.tags}}', '{{product.id}}', '{{product.price}}', false)" alt="">
										<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '{{product.id}}')" style="position: absolute; top: 10px; right: 10px;" alt="">
										<p class="product-subtitle dark" style="line-height: 24px;">{{product.name}}, {{product.articul}} <span style="font-size: 12px; color: #616161;">{{product.amount}} {{product.unit}}</span></p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div class="upload-product dark" style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div class="upload-product dark" style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div class="upload-product dark" style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div class="upload-product dark" style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="d-flex justify-content-between" style="margin-top: 10px;">
				<button class="button-1 dark" type="button" onclick="document.querySelector('.approve-popup').style.display = 'block'; this.parentNode.parentNode.submit()" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%;;">На проверку</button>
				<a href="{% url 'delete_store' store.id %}" style="background-color: inherit; color: #FF0000; font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%; border: 1px solid #FF0000; text-align: center;">Удалить</a>
			</div>
		</form>
	</div>
{% endfor %}
<form method="post" action="{% url 'upload_files' %}" enctype="multipart/form-data" class="d-flex align-items-end justify-content-between upload_files dark">
	{% csrf_token %}
	<p class="upload_files-text dark">Для модерации, и заключении договора нам потребуется следующие документы: <br> Карта партнеров, ИНН, ОГРН, Карточка банка. <br> Приложите их копии, и нажмите отправить.</p>
	<button class="button-2 dark" type="button" onclick="this.nextElementSibling.click()" style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px;">Приложить</button>
	<input type="file" name="files" multiple hidden>
	<button class="button-1 dark" type="submit" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px;">Отправить</button>
</form>

<div id="template" style="display: none;">
	<div class="d-flex flex-column store-info">
		<p class="profile-info dark" style="font-weight: 500; margin-top: 10px;">Информация о магазине</p>
		<form method="post" action="{% url 'create_store' %}" class="d-flex flex-column card dark" style="margin: 10px 0px;">
			{% csrf_token %}
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="store_name" class="input-field dark" placeholder="Название магазина" required>
					<label for="store_name">Название магазина</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="phone" class="input-field dark" placeholder="Контакты для заказа" required>
					<label for="phone">Контакт для заказа</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="email" class="input-field dark" placeholder="E-mail для выгрузок" required>
					<label for="email">E-mail для выгрузок</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="map_visor" class="input-field dark" placeholder="координаты для отображения на карте" required>
					<label for="map_visor">координаты для отображения на карте</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 100%;">
					<input type="text" name="address" class="input-field dark" placeholder="Адрес склада для самовывоза" required>
					<label for="address">Адрес склада для самовывоза</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="assembly_time" class="input-field dark" placeholder="время сборки товара, в мин" required>
					<label for="assembly_time">время сборки товара, в мин</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="work_time" class="input-field dark" placeholder="Часы работы" required>
					<label for="work_time">Часы работы</label>
				</div>
			</div>
			<div class="d-flex">
				<select name="delivery_condition" class="input-field dark" style="width: 50%;" required>
					<option value="" disabled selected >Условия доставки</option>
					{% for delivery_condition in delivery_conditions %}
					<option value="{{ delivery_condition.id }}">{{ delivery_condition.name }}</option>
					{% endfor %}
				</select>
				<select name="region" class="input-field dark" style="width: 50%; margin-left: 10px;" required>
					<option value="" disabled selected >Регион</option>
					{% for region in regions %}
					<option value="{{ region.id }}">{{ region.name }}</option>
					{% endfor %}
				</select>
			</div>

			<div style="width: 100%; height: 30px; position: relative; margin-top: 10px;">
				<button class="button-1 dark" type="submit" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%; position: absolute; right: 0px;">Создать</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
	const logoInput = document.getElementById("logo_input");
	const logoPreview = document.querySelector(".logo_preview");
	logoInput.onchange = (e) => {
		const [file] = logoInput.files;
		if (file) {
		logoPreview.style.background =
			"url(" + URL.createObjectURL(file) + ") 0 0/100% 100% no-repeat";
		}

		logoPreview.querySelector("img").style.display = 'none';
	};

	const productInput = document.getElementById("product_image_input");
	const productPreview = document.querySelector(".product_image_preview");
	productInput.onchange = (e) => {
		const [file] = productInput.files;
		if (file) {
			productPreview.style.background =
			"url(" + URL.createObjectURL(file) + ") 0 0/100% 100% no-repeat";
		}

		productPreview.querySelector("img").style.display = 'none';
	};

	var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 10,
    });
</script>
{% endblock script %}