{% extends 'base.html' %}

{% block title %} Профиль {% endblock title %}

{% load static %}

{% load custom_tags %}

{% block style %} 
<link rel="stylesheet" href="{% static 'multiple/dist/virtual-select.min.css' %}" /> 
<style>

	.vscomp-toggle-button {
		padding: 0px;
		background-color: inherit;
		border: none;
	}

	.vscomp-toggle-button .vscomp-value{
		padding: 0px 10px;
		color: #fff;
	}

	.input-field .vscomp-toggle-button .vscomp-value{
		padding: 0px 10px;
		color: #F8F8F8;
	}

	.input-field#delivery-select, .input-field#payment-select {
		padding: 0px;
		min-width: 33%;
	}

	.input-field#delivery-select .vscomp-wrapper, .input-field#payment-select .vscomp-wrapper {
		height: 100%;
		border-radius: inherit;
	}

	.input-field#create-delivery-select, .input-field#create-payment-select {
		padding: 0px;
		min-width: 33%;
	}

	.input-field#create-delivery-select .vscomp-wrapper, .input-field#create-payment-select .vscomp-wrapper {
		height: 100%;
		border-radius: inherit;
	}

	.input-field#delivery-select .vscomp-dropbox, .input-field#payment-select .vscomp-dropbox, .input-field#create-delivery-select .vscomp-dropbox, .input-field#create-payment-select .vscomp-dropbox {
		background-color: #323232;
	}

	.input-field#delivery-select .vscomp-option.selected, .input-field#payment-select .vscomp-option.selected, .input-field#create-delivery-select .vscomp-option.selected, .input-field#create-payment-select .vscomp-option.selected {
		background-color: #323232;
	}


	.input-field#delivery-select .vscomp-option.focused, .input-field#payment-select .vscomp-option.focused, .input-field#create-delivery-select .vscomp-option.focused, .input-field#create-payment-select .vscomp-option.focused {
		background-color: #616161;
	}

	

</style>
{% endblock style %}

{% block content %}
<div class="d-flex justify-content-between">
	<h1 class="title">Профиль компании</h1>
	{% if request.user.provider.company != '' or request.user.provider.logo or request.user.provider.site != ''  or request.user.provider.description != '' %}
		{% if request.user.provider.status == 'free' %}
			{% if stores|length < 1 %}
			<button type="button" onclick="createStore(this)" style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 4px 20px; border: 1px solid #00A550; color: #00A550;">Добавить магазин</button>
			{% endif %}
		{% elif request.user.provider.status == 'store' %}
			{% if stores|length < 3 %}
			<button type="button" onclick="createStore(this)" style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 4px 20px; border: 1px solid #00A550; color: #00A550;">Добавить магазин</button>
			{% endif %}
		{% else %}
			{% if stores|length < 5 %}
			<button type="button" onclick="createStore(this)" style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 4px 20px; border: 1px solid #00A550; color: #00A550;">Добавить магазин</button>
			{% endif %}
		{% endif %}
	{% endif %}
</div>
<div class="d-flex justify-content-between">
	<p style="font-weight: 500; color: #E9E9E9;">Общая информация</p>
	<div class="d-flex align-items-center">
		{% if request.user.provider.status == 'free' %}
		<p style="font-size: 12px; color: #E9E9E9; margin-right: 5px;"></p>
		{% else %}
		<p style="font-size: 12px; color: #E9E9E9; margin-right: 5px;">До {{ request.user.provider.status_time|date:'d.m.Y' }}</p>
		{% endif %}
		<div style="background-color: #00A550; border-radius: 8px;">
			<p style="font-weight: 600; color: #E9E9E9; margin: 5px 15px;">{{request.user.provider.get_status_display}}</p>
		</div>
	</div>
</div>
<div>
	<form class="d-flex flex-column" style="background-color: #282828; border-radius: 16px; padding: 20px;" method="post" action="{% url 'provider_profile' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="d-flex">
			<div class="logo_preview" style="min-width: 270px; min-height: 270px; text-align: center; border-radius: 16px; margin-right: 20px; position: relative; cursor: pointer; background-color: #313131; border: 1px solid #00A550; {% if request.user.provider.logo %} background: url('{{ request.user.provider.logo.url }}') 0 0/100% 100%; {% endif %}" onclick="this.querySelector('input').click()">
				<input type="file" id="logo_input" name="logo" style="position: absolute; bottom: 0; left: 0; z-index: -10;" required>
				<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); {% if request.user.provider.logo %} display: none; {% endif %}" alt="">
				<p class="select_logo">Выбрать логотип</p>
			</div>
			<div class="d-flex flex-column" style="width: 100%;">
				<div class="form-group">
					<input type="text" name="company" value="{{request.user.provider.company}}" class="input-field" placeholder="Название компании" required>
					<label for="company">Название компании</label>
				</div>
				<div class="form-group">
					<input type="text" name="fullName" value="{{request.user.provider.fullName}}" class="input-field" placeholder="Контактное лицо" required>
					<label for="fullName">Контактное лицо</label>
				</div>
				<div class="form-group">
					<input type="text" name="phone" value="{{request.user.provider.phone}}" class="input-field" placeholder="Номер телефона" required>
					<label for="phone">Номер телефона</label>
				</div>
				<div class="form-group">
					<input type="text" name="email" value="{{request.user.provider.email}}" class="input-field" placeholder="E-mail" required>
					<label for="email">E-mail</label>
				</div>
				<div class="form-group">
					<input type="text" name="site" value="{{request.user.provider.site}}" class="input-field" placeholder="Сайт" required>
					<label for="site">Сайт</label>
				</div>
			</div>
		</div>
		<div class="d-flex align-items-end">
			<textarea name="description" placeholder="Описание" rows="5" class="input-field" style="width: 70%; margin: 10px 10px 0px 0px;" required>{{request.user.provider.description}}</textarea>
			<button type="submit" style="font-weight: 600; border-radius: 8px; width: 30%; height: 42px; background-color: #00A550; color: #E9E9E9;">Сохранить</button>
		</div>
	</form>
</div>
<div class="create-store" style="display: none;">
	<p style="font-weight: 500; margin-top: 10px; color: #E9E9E9;">Информация о магазине</p>
	<form method="post" action="{% url 'create_store' %}" class="d-flex flex-column" style="margin: 10px 0px; background-color: #282828; padding: 20px;">
		{% csrf_token %}
		<div class="d-flex">
			<div class="form-group" style="width: 50%;">
				<input type="text" name="store_name" class="input-field" placeholder="Название магазина" required>
				<label for="store_name">Название магазина</label>
			</div>
			<div class="form-group" style="width: 50%; margin-left: 10px;">
				<input type="text" name="phone" class="input-field" placeholder="Контакты для заказа" required>
				<label for="phone">Контакт для заказа</label>
			</div>
		</div>
		<div class="d-flex">
			<div class="form-group" style="width: 50%;">
				<input type="text" name="email" class="input-field" placeholder="E-mail для выгрузок" required>
				<label for="email">E-mail для выгрузок</label>
			</div>
			<div class="form-group" style="width: 50%; margin-left: 10px;">
				<input type="text" name="map_visor" class="input-field" placeholder="координаты для отображения на карте" required>
				<label for="map_visor">координаты для отображения на карте</label>
			</div>
		</div>
		<div class="d-flex">
			<div class="form-group" style="width: 100%;">
				<input type="text" name="address" class="input-field" placeholder="Адрес склада для самовывоза" required>
				<label for="address">Адрес склада для самовывоза</label>
			</div>
		</div>
		<div class="d-flex">
			<div class="form-group" style="width: 50%;">
				<input type="text" name="assembly_time" class="input-field" placeholder="время сборки товара, в мин" required>
				<label for="assembly_time">время сборки товара, в мин</label>
			</div>
			<div class="form-group" style="width: 25%; margin-left: 10px;">
				<input type="time" name="work_time_from" class="input-field" placeholder="Часы работы от" required>
				<label for="work_time">Часы работы от</label>
			</div>
			<div class="form-group" style="width: 25%; margin-left: 10px;">
				<input type="time" name="work_time_to" class="input-field" placeholder="Часы работы до" required>
				<label for="work_time">Часы работы до</label>
			</div>
		</div>
		<div class="d-flex">
			<select name="delivery_conditions" multiple id="create-delivery-select" class="input-field" style="width: 33%;" required>
				{% for delivery_condition in delivery_conditions %}
				<option value="{{ delivery_condition.id }}">{{ delivery_condition.name }}</option>
				{% endfor %}
			</select>
			<select name="region" class="input-field" style="width: 33%; margin: 10px;" required>
				<option value="" disabled selected >Регион</option>
				{% for region in regions %}
				<option value="{{ region.id }}" {% if region == store.region %} selected {% endif %}>{{ region.name }}</option>
				{% endfor %}
			</select>
			<select name="payments" multiple id="create-payment-select" class="input-field" style="width: 33%; margin-left: 10px;" required>
				{% for payment in payments %}
				<option value="{{ payment.id }}">{{ payment.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div style="width: 100%; height: 30px; position: relative; margin-top: 10px;">
			<button type="submit" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%; position: absolute; right: 0px; background-color: #00A550; color: #E9E9E9;">Создать</button>
		</div>
	</form>
</div>
{% for store in stores %}
	<div class="d-flex flex-column">
		<p style="font-weight: 500; margin: 10px 10px 0px; color: #E9E9E9;">Информация о магазине</p>
		<form method="post" action="{% url 'update_store' store.id %}" class="d-flex flex-column" style="margin: 10px 0px; background-color: #282828; border-radius: 16px; padding: 20px;">
			{% csrf_token %}
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="address" class="input-field" value="{{store.address}}" placeholder="Адрес склада для самовывоза" required>
					<label for="address">Адрес склада для самовывоза</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="phone" class="input-field" value="{{store.phone}}" placeholder="Контакты для заказа" required>
					<label for="phone">Контакт для заказа</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="email" class="input-field" value="{{store.email}}" placeholder="E-mail для выгрузок" required>
					<label for="email">E-mail для выгрузок</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="map_visor" class="input-field" value="{{store.map_visor}}" placeholder="координаты для отображения на карте" required>
					<label for="map_visor">координаты для отображения на карте</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="store_name" class="input-field" value="{{store.store_name}}" placeholder="Название магазина" required>
					<label for="store_name">Название магазина</label>
				</div>
				<div class="form-group" style="width: 50%; margin-left: 10px;">
					<input type="text" name="contract" class="input-field" value="{{store.contract}}" placeholder="Договор" disabled>
					<label for="contract">Договор</label>
				</div>
			</div>
			<div class="d-flex">
				<div class="form-group" style="width: 50%;">
					<input type="text" name="assembly_time" class="input-field" value="{{store.assembly_time}}" placeholder="время сборки товара, в мин" required>
					<label for="assembly_time">время сборки товара, в мин</label>
				</div>
				<div class="form-group" style="width: 25%; margin-left: 10px;">
					<input type="time" name="work_time_from" value="{{store.work_time_from|time}}" class="input-field" placeholder="Часы работы от" required>
					<label for="work_time">Часы работы от</label>
				</div>
				<div class="form-group" style="width: 25%; margin-left: 10px;">
					<input type="time" name="work_time_to" value="{{store.work_time_to|time}}" class="input-field" placeholder="Часы работы до" required>
					<label for="work_time">Часы работы до</label>
				</div>
			</div>
			<div class="d-flex">
				<select name="delivery_conditions" multiple id="delivery-select" class="input-field" style="width: 33%;" required>
					{% for delivery_condition in delivery_conditions %}
					<option value="{{ delivery_condition.id }}" {% if delivery_condition in store.delivery_conditions.all %} selected {% endif %}>{{ delivery_condition.name }}</option>
					{% endfor %}
				</select>
				<select name="region" class="input-field" style="width: 33%; margin: 10px;" required>
					<option value="" disabled selected >Регион</option>
					{% for region in regions %}
					<option value="{{ region.id }}" {% if region == store.region %} selected {% endif %}>{{ region.name }}</option>
					{% endfor %}
				</select>
				<select name="payments" multiple id="payment-select" class="input-field" style="width: 33%; margin-left: 10px;" required>
					{% for payment in payments %}
					<option value="{{ payment.id }}" {% if payment in store.payment_methods.all %} selected {% endif %}>{{ payment.name }}</option>
					{% endfor %}
				</select>
			</div>
			<p class="profile-info" style="font-weight: 500; margin: 10px; font-size: 18px; color: #E9E9E9;">Товары</p>
			{% for category in categories %}
			<div class="custom-accordion-item">
				<div class="custom-accordion-header" onclick="toggleAccordion(this)">
					<p class="profile-info" style="font-size: 20px; font-weight: 500;">{{category.name}}</p>
					<div class="triangle triangle-bottom"></div>
				</div>
				<div class="custom-accordion-content swiper-container" style="overflow: hidden;">
					<div class="d-flex swiper-wrapper store_{{store.id}}_{{category.id}}">
						{% for product in products %}
							{% if product.category == category and product.store == store %}
								<div class="d-flex flex-column swiper-slide product_{{product.id}}" style="width: 256px; margin-right: 20px;">
									<div style="position: relative;">
										<img src="{{product.image.url}}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '{{store.id}}', false, '{{category.id}}', '{{product.name}}', '{{product.articul}}', '{{product.amount}}', '{{product.unit}}', '{{product.remainder}}', '{{product.image.url}}', '{{product.description}}', '{{product.tags.all | join_tag_names}}', '{{product.id}}', '{{product.price}}', false)" alt="">
										<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '{{product.id}}')" style="position: absolute; top: 10px; right: 10px;" alt="">
										<p style="line-height: 24px; color: #E9E9E9;">{{product.name}}, {{product.articul}} <span style="font-size: 12px; color: #616161;">{{product.amount}} {{product.unit}}</span></p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative; background-color: #313131; border: 1px solid #00A550;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative; background-color: #313131; border: 1px solid #00A550;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative; background-color: #313131; border: 1px solid #00A550;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
						<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
							<div style="min-width: 260px; min-height: 260px; text-align: center; border-radius: 16px; position: relative; background-color: #313131; border: 1px solid #00A550;" onclick="openProduct(this, '{{store.id}}', true, '{{category.id}}', '', '', '', '', '', '', '', '', false)">
								<img class="upload-icon" src="{% static 'img/upload.png' %}" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) " alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="d-flex justify-content-between" style="margin-top: 10px;">
				<button type="button" onclick="sendToCheck(this.parentNode.parentNode)" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%; background-color: #00A550; color: #E9E9E9;">Сохранить</button>
				<a href="{% url 'delete_store' store.id %}" style="background-color: inherit; color: #FF0000; font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 20%; border: 1px solid #FF0000; text-align: center;">Удалить</a>
			</div>
		</form>
	</div>
{% endfor %}
<form method="post" action="{% url 'upload_files' %}" enctype="multipart/form-data" class="d-flex align-items-end justify-content-between upload_files" style="margin-top: 10px;">
	{% csrf_token %}
	<p style="color: #00A550; font-weight: 500; line-height: 24px;">Для модерации, и заключении договора нам потребуется следующие документы: <br> Карта партнеров, ИНН, ОГРН, Карточка банка. <br> Приложите их копии, и нажмите отправить.</p>
	<button type="button" onclick="this.nextElementSibling.click()" style="background-color: inherit; font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px; color: #00A550; border: 1px solid #00A550;">Приложить</button>
	<input type="file" name="files" multiple hidden>
	<button type="submit" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 150px; background-color: #00A550; color: #E9E9E9;">Отправить</button>
</form>
{% endblock content %}

{% block script %}
<script src="{% static 'multiple/dist/virtual-select.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
	VirtualSelect.init({ 
		ele: '#delivery-select',
		multiple: true,
		search: false,
		placeholder: 'Условия доставки' 
	});

	VirtualSelect.init({ 
		ele: '#payment-select',
		multiple: true,
		search: false,
		placeholder: 'Способы оплаты' 
	});

	new VirtualSelect.init({ 
		ele: '#create-delivery-select',
		multiple: true,
		search: false,
		placeholder: 'Условия доставки' 
	});

	new VirtualSelect.init({ 
		ele: '#create-payment-select',
		multiple: true,
		search: false,
		placeholder: 'Способы оплаты' 
	});


	function createStore(element) {
		element.style.display = 'none';
		const create_store = document.querySelector(".create-store")

		create_store.style.display = "flex"
		create_store.style.flexDirection = "column"
	}

	function sendToCheck(form){
		let formData = new FormData(form);
		let xhr = new XMLHttpRequest();
		xhr.open('POST', form.action);
		xhr.responseType = 'json';
		xhr.onload = function () {
			if (xhr.status == 200) {
				document.querySelector('.approve-popup').style.display = 'block'; 
			}
		};
		xhr.send(formData);
	}

	const logoInput = document.getElementById("logo_input");
	const logoPreview = document.querySelector(".logo_preview");
	logoInput.onchange = (e) => {
		const [file] = logoInput.files;
		if (file) {
		logoPreview.style.background =
			"url(" + URL.createObjectURL(file) + ") 0 0/100% 100% no-repeat";
		}

		logoPreview.querySelector("img").style.display = 'none';
	};

	const productInput = document.getElementById("product_image_input");
	const productPreview = document.querySelector(".product_image_preview");
	productInput.onchange = (e) => {
		const [file] = productInput.files;
		if (file) {
			productPreview.style.background =
			"url(" + URL.createObjectURL(file) + ") 0 0/100% 100% no-repeat";
		}

		productPreview.querySelector("img").style.display = 'none';
	};

	function openProduct(element, store, isCreate, category, name, articul, amount, unit, remainder, image, description, tags, id, price, is_first) {
		const popup_product = document.querySelector(".product-popup")
		const button_parent = popup_product.querySelector(".button-parent")
		for (const button of button_parent.querySelectorAll("button")) {
			button.remove()
		}
		if (isCreate) {
			const formData = new FormData()
			formData.append("store", store)
			let xhr = new XMLHttpRequest();
			xhr.open('POST', '/check_status/');
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					if (xhr.response["status"] != undefined) {
						document.querySelector(".product-popup").style.display = "none"
						document.querySelector(".status-popup span").textContent = xhr.response["amount"]
						document.querySelector(".status-popup").style.display = "block"
						return null;
					}
				}
			};
			xhr.send(formData);
			for (const input of popup_product.querySelectorAll("input")) {
				if (input.name == "category") {
					input.value = category
				} else if (input.name == "store") {
					input.value = store
				} else {
					input.value = ""
				}
			}

			productPreview.style.background = `none`;
			productPreview.style.backgroundColor = `#313131`;

			productPreview.querySelector("img").style.display = 'block';

			popup_product.querySelector("select").value = ""
			const textarea = popup_product.querySelectorAll("textarea")

			textarea[0].value = ""
			textarea[1].value = ""

			button_parent.insertAdjacentHTML("afterbegin", `<button type="button" onclick="createProduct(${category}, ${store}, ${is_first})" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 25%; position: absolute; right: 0px;background-color: #00A550; color: #E9E9E9;">Создать</button>`)
		} else {
			const name_input = popup_product.querySelector("input[name='name']")
			const articul_input = popup_product.querySelector("input[name='articul']")
			const amount_input = popup_product.querySelector("input[name='amount']")
			const remainder_input = popup_product.querySelector("input[name='remainder']")
			const price_input = popup_product.querySelector("input[name='price']")
			const description_input = popup_product.querySelectorAll("textarea")[0]
			const tags_input = popup_product.querySelectorAll("textarea")[1]
			const select_unit = popup_product.querySelector("select")

			productPreview.style.background = `url("${image}") 0 0/100% 100% no-repeat`;
			productPreview.querySelector("img").style.display = 'none';

			productInput.required = false
			name_input.value = name
			articul_input.value = articul
			amount_input.value = amount
			remainder_input.value = remainder
			description_input.value = description
			select_unit.value = unit
			price_input.value = price
			tags_input.value = tags

			button_parent.insertAdjacentHTML("afterbegin", `<button type="button" onclick="updateProduct(${store}, ${category}, ${id}, ${is_first})" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 25%; position: absolute; right: 0px; background-color: #00A550; color: #E9E9E9;">Сохранить</button>`)
		}
		popup_product.style.display = 'block';
	}

	function createProduct(category_id, store_id, is_first) {
		const product_form = document.querySelector('.product-form')
		if (product_form.checkValidity()) {
			let formData = new FormData(product_form);
			let xhr = new XMLHttpRequest();
			xhr.open('POST', '/create_product/');
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					if (is_first) {
						const target_element = document.querySelector(`#template category_${category_id}`)
						target_element.insertAdjacentHTML("afterbegin", `<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
						<div style="position: relative;">
							<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', true)" alt="">
							<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
							<p style="line-height: 24px; color: #E9E9E9;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
						</div>
					</div>`)
					} else {
						const target_element = document.querySelector(`.store_${store_id}_${category_id}`)
						target_element.insertAdjacentHTML("afterbegin", `<div class="d-flex flex-column swiper-slide" style="width: 256px; margin-right: 20px;">
						<div style="position: relative;">
							<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', false)" alt="">
							<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
							<p style="line-height: 24px; color: #E9E9E9;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
						</div>
					</div>`)
					}

					document.querySelector(".product-popup").style.display = "none"
				}
			};
			xhr.send(formData);
		} else {
			product_form.reportValidity();
		}
	}

	function updateProduct(store_id, category_id, id, is_first) {
		const product_form = document.querySelector('.product-form')
		if (product_form.checkValidity()) {
			let formData = new FormData(product_form);
			let xhr = new XMLHttpRequest();
			xhr.open('POST', `/update_product/${id}/`);
			xhr.responseType = 'json';
			xhr.onload = function () {
				if (xhr.status == 200) {
					const target_element = document.querySelector(`.store_${store_id}_${category_id} .product_${id}`)
					for (const div of target_element.querySelectorAll("div")) {
						div.remove()
					}
					target_element.insertAdjacentHTML("afterbegin", `<div style="position: relative;">
						<img src="${xhr.response["image"]}" width="260" height="260" style="border-radius: 8px;" onclick="openProduct(this, '${xhr.response["store"]}', false, '${xhr.response["category"]}', '${xhr.response["name"]}', '${xhr.response["articul"]}', '${xhr.response["amount"]}', '${xhr.response["unit"]}', '${xhr.response["remainder"]}', '${xhr.response["image"]}', '${xhr.response["description"]}', '${xhr.response["tags"]}', '${xhr.response["id"]}', '${xhr.response["price"]}', false)" alt="">
						<img src="{% static 'img/close.svg' %}" onclick="deleteProduct(this, '${xhr.response["id"]}')" style="position: absolute; top: 10px; right: 10px;" alt="">
						<p style="line-height: 24px; color: #E9E9E9;">${xhr.response["name"]}, ${xhr.response["articul"]} <span style="font-size: 12px; color: #616161;">${xhr.response["amount"]} ${xhr.response["unit"]}</span></p>
					</div>`)
					document.querySelector(".product-popup").style.display = "none"
				}
			};
			xhr.send(formData);
		} else {
			product_form.reportValidity();
		}
	}

	function deleteProduct(element, id) {
		let xhr = new XMLHttpRequest();
		xhr.open('GET', `/delete_product/${id}/`);
		xhr.onload = function () {
			if (xhr.status == 200) {
				element.parentNode.parentNode.remove()
			}
		};
		xhr.send();
	}

	var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
    });
</script>
{% endblock script %}