{% extends 'base.html' %}

{% block title %} Подписка {% endblock title %}

{% load static %}

{% block content %}
<form method="post" action="{% url 'susbscriptions' %}" class="d-flex application-form">
    {% csrf_token %}
    <input type="text" name="application" hidden>
    <input type="text" name="news" hidden>
    <input type="text" name="days" hidden>
    <input type="text" name="ticker" hidden>
    <input type="text" name="ticker_link" hidden>
    <div class="d-flex flex-column" style="margin-right: 20px; text-align: center; background-color: #282828;
    color: #E9E9E9; padding: 20px; border-radius: 16px;">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 20px;">Магазин</div>
        <div style="color: #00A550; margin: 20px 0px;">3000р в месяц</div>
        <div style="margin: 20px 0px;">3-10 товаров</div>
        <button type="button" onclick="sendApplication(1)" style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 100%; background-color: #00A550; color: #E9E9E9;">Купить</button>
    </div>
    <div class="d-flex flex-column" style="margin-right: 20px; text-align: center; background-color: #282828;
    color: #E9E9E9; padding: 20px; border-radius: 16px;">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 20px;">Гипермаркет</div>
        <div style="color: #00A550; margin: 20px 0px;">10000р в месяц</div>
        <div style="margin: 20px 0px;">10+ товаров в месяц</div>
        <button type="button" onclick="sendApplication(2)"  style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 100%; background-color: #00A550; color: #E9E9E9;">Купить</button>
    </div>
    <div class="d-flex flex-column" style="margin-right: 20px; text-align: center; background-color: #282828;
    color: #E9E9E9; padding: 20px; border-radius: 16px;">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 20px;">Реклама</div>
        <div style="color: #00A550; margin: 20px 0px;">1000р в день</div>
        <div style="margin: 20px 0px;">Бегущая строка</div>
        <button type="button" onclick="{% if request.user.provider.company == '' or not request.user.provider.logo or request.user.provider.site == '' or request.user.provider.description == ''%} document.querySelector('.profile-popup').style.display = 'block'; {% else %}document.querySelector('.create_ticker-popup').style.display = 'block'; {% endif %}"  style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 100%; background-color: #00A550; color: #E9E9E9;">Купить</button>
    </div>
    <div class="d-flex flex-column" style="text-align: center; background-color: #282828;
    color: #E9E9E9; padding: 20px; border-radius: 16px;">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 20px;">Реклама</div>
        <div style="color: #00A550; margin: 20px 0px;">5000р</div>
        <div style="margin: 20px 0px;">Новость от партнера</div>
        <button type="button" onclick="{% if request.user.provider.company == '' or not request.user.provider.logo or request.user.provider.site == '' or request.user.provider.description == ''%} document.querySelector('.profile-popup').style.display = 'block'; {% else %}document.querySelector('.create_news-popup').style.display = 'block'; {% endif %}"  style="font-weight: 600; border-radius: 8px; padding: 10px 0px; width: 100%; background-color: #00A550; color: #E9E9E9;">Купить</button>
    </div>
</form>
             
{% endblock content %}


{% block script %}
<script>
    function dateDifferenceInDays(date1, date2) {
        const diffTime = Math.abs(date2 - date1);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        return diffDays;
    }

    function createTicker(days, link, news){
        const currentDate = new Date();
        const selectedDate = new Date(days);
        const diffDays = dateDifferenceInDays(currentDate, selectedDate);
        document.querySelector('input[name="ticker"]').value = news; 
        document.querySelector('input[name="ticker_link"]').value = link; 
        document.querySelector('input[name="days"]').value = diffDays; 
        sendApplication(3)
    }

    function createNews(news){
        document.querySelector('input[name="news"]').value = news; 
        sendApplication(4)
    }

    const customColorPalette = [
        {
            'color': 'hsl(4, 90%, 58%)',
            'label': 'Red'
        },
        {
            'color': 'hsl(340, 82%, 52%)',
            'label': 'Pink'
        },
        {
            'color': 'hsl(291, 64%, 42%)',
            'label': 'Purple'
        },
        {
            'color': 'hsl(262, 52%, 47%)',
            'label': 'Deep Purple'
        },
        {
            'color': 'hsl(231, 48%, 48%)',
            'label': 'Indigo'
        },
        {
            'color': 'hsl(207, 90%, 54%)',
            'label': 'Blue'
        },
    ]

    const CKEDITOR_5_CONFIGS = {
        'extends': {
            'blockToolbar': [
                'paragraph', 'heading1', 'heading2', 'heading3',
                '|',
                'bulletedList', 'numberedList',
                '|',
                'blockQuote',
            ],
            'toolbar': ['heading', '|', 'outdent', 'indent', '|', 'bold', 'italic', 'link', 'underline', 'strikethrough',
            'code','subscript', 'superscript', 'highlight', '|', 'codeBlock', 'sourceEditing', 'insertImage',
                        'bulletedList', 'numberedList', 'todoList', '|',  'blockQuote', 'imageUpload', '|',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'mediaEmbed', 'removeFormat',
                        'insertTable',],
            'image': {
                'toolbar': ['imageTextAlternative', '|', 'imageStyle:alignLeft',
                            'imageStyle:alignRight', 'imageStyle:alignCenter', 'imageStyle:side',  '|'],
                'styles': [
                    'full',
                    'side',
                    'alignLeft',
                    'alignRight',
                    'alignCenter',
                ]

            },
            'table': {
                'contentToolbar': [ 'tableColumn', 'tableRow', 'mergeTableCells',
                'tableProperties', 'tableCellProperties' ],
                'tableProperties': {
                    'borderColors': customColorPalette,
                    'backgroundColors': customColorPalette
                },
                'tableCellProperties': {
                    'borderColors': customColorPalette,
                    'backgroundColors': customColorPalette
                }
            },
            'heading' : {
                'options': [
                    { 'model': 'paragraph', 'title': 'Paragraph', 'class': 'ck-heading_paragraph' },
                    { 'model': 'heading1', 'view': 'h1', 'title': 'Heading 1', 'class': 'ck-heading_heading1' },
                    { 'model': 'heading2', 'view': 'h2', 'title': 'Heading 2', 'class': 'ck-heading_heading2' },
                    { 'model': 'heading3', 'view': 'h3', 'title': 'Heading 3', 'class': 'ck-heading_heading3' }
                ]
            }
        },
        'list': {
            'properties': {
                'styles': 'true',
                'startIndex': 'true',
                'reversed': 'true',
            }
        }
    }

    ClassicEditor
    .create( document.querySelector( '#editor' ), CKEDITOR_5_CONFIGS["extends"])
    .then(editor => {
        window.editor = editor;
    })
    .catch( error => {
        console.error( error );
    } );


	function sendApplication(n){
        document.querySelector('input[name="application"]').value = n; 
        const application_form = document.querySelector('.application-form')
        let formData = new FormData(application_form);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/susbscriptions/');
        xhr.responseType = 'json';
        xhr.onload = function () {
        if (xhr.status == 200) {
            window.location.href = xhr.response["confirmation_url"]
        }
        };
        xhr.send(formData);
    }
</script>
{% endblock script %}