{% extends 'base.html' %}

{% block title %} В работе {% endblock title %}

{% load static %}

{% block content %}
<h1 class="title dark">Заказы в работе</h1>
<table style="width: 100%;">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Сумма</th>
			<th>Принят</th>
			<th>Счет</th>
			<th>Отгружен</th>
			<th>Дата отгрузки</th>
			<th>Номер заказа</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ add.ordername }}</td>
			<td>{{ add.dtdoc|dateFormat }}</td>
			<td>{{ add.comment }}</td>
			<td>{{ add.resolution }}</td>
			<td>{{ add.state }}</td>
			<td>{{ add.resolution }}</td>
			<td>{{ add.state }}</td>
			<td><button class="button-2 dark" style="font-weight: 600; border-radius: 8px; padding: 10px 15px; background-color: inherit;">Подробнее</button></td>
		</tr>
	</tbody>
</table>

{% endblock content %}